*/*Set's border, padding and margin to 0 for all values*/
{
    padding: 0;
    margin: 0;
    border: 0;
}
body, html {
    color: #373C40;
    font-family: Verdana,Arial, Helvetica, sans-serif;
    height: 100%;
    background-color: #f0f0f0;
    margin:10px;
}
body {
    font-size: 70%;
}
p {
    padding: 7px 0 7px 0;
    font-weight: 500;
    font-size: 10pt;
}
a {
    color: #656565;
    text-decoration:none;
}
a:hover{
    color: #abda0f;
    text-decoration: none;
}
h1 {
    font-weight:200;
    color: #888888;
    font-size:16pt;
    background: transparent url(../img/h1.png) no-repeat center left;
    padding-left:33px;
    margin:7px 5px 8px 8px;
}
h4 {
    padding:1px;
    color: #ACACAC;
    font-size:9pt;
    font-weight:100;
    text-transform:uppercase;
}
form.register{
    width:800px;
    margin: 20px auto 0px auto;
    height:1000px;
    background-color:#fff;
    padding:5px;
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
}
form p{
    font-size: 8pt;
    clear:both;
    margin: 0;
    color:gray;
    padding:4px;
}
form.register fieldset.row1
{
    width:770px;
    padding:5px;
    float:left;
    border-top:1px solid #F5F5F5;
    margin-bottom:15px;
}
form.register fieldset.row1 label{
    width:140px;
    float: left;
    text-align: right;
    margin-right: 6px;
    margin-top:2px;
}
form.register fieldset.row2
{
    border-top:1px solid #F1F1F1;
    height:220px;
    padding:5px;
    float:left;
}
form.register fieldset.row3
{
    border-top:1px solid #F1F1F1;
    border-left:1px solid #F1F1F1;
    padding:5px;
    float:left;
    margin-bottom:15px;
    width:400px;
}
form.register fieldset.row4
{
    border-top:1px solid #F1F1F1;
    padding:5px;
    float:left;
    clear:both;
    width:675px;
}
form.register .infobox{
    float:left;
	clear:both;
    margin:0px 50px 20px 50px;
	overflow:hidden;
    border: 1px solid #F1F1F1;
    padding:5px;
    width:674px;
    height:140px;
    font-size:9px;
    background: #FDFEFA url(../img/bg_infobox.gif) repeat-x top left;
}
form.register legend
{
    color: #abda0f;
    padding:2px;
    margin-left: 14px;
    font-weight:bold;
    font-size: 14px;
    font-weight:100;
}
form.register label{
    color:#444;
    width:98px;
    float: left;
    text-align: right;
    margin-right: 6px;
    margin-top:2px;
}
form.register label.optional{
    float: left;
    text-align: right;
    margin-right: 6px;
    margin-top:2px;
    color: #A3A3A3;
}
form.register label.obinfo{
    float:right;
    padding:3px;
    font-style:italic;
}
form.register input[type="submit"]{height:50px;}

form.register input{
    width: 140px;
    color: #505050;
    float: left;
    margin-right: 5px;    
	border: 1px solid #E1E1E1;
    height: 20px;
}
form.register input.long{
    width: 247px;
    color: #505050;
}
form.register input.short{
    width: 88px;
    color: #505050;
}
form.register input[type=radio]
{
    float:left;
    width:15px;
}
form.register label.gender{
    margin-top:-1px;
    margin-bottom:2px;
    width:34px;
    float:left;
    text-align:left;
    line-height:19px;
}
form.register input[type=tel]
{

}
form.register input[type=text]
{
    border: 1px solid #E1E1E1;
    height: 18px;
}
form.register input[type=password]
{
    border: 1px solid #E1E1E1;
    height: 18px;
}
.form_type h1{float:left;}
.form_type p{float:right}
.align p{width:140px !important;float:left;margin-right:10px;clear:none;}

.align label{width:197px !important;float:left;margin-right:10px;clear:none;}
.align input{float:right !important;margin-left:5px;}
.align1 p{width:192px !important;float:left;margin-right:10px;clear:none;}

.align1 label{width:192px !important;float:left;margin-right:10px;clear:none;text-align:left!important;}
.align1 input{float:right !important;margin-left:5px;}
				.place_ord{margin:0 50px 20px; position:relative;float:left;}
.place_ord table{width:100%;border:1px solid;background:white;border-collapse:collapse;}
.place_ord table td{padding:2px;border:1px solid gray;font-size:10px;}
.place_ord table td:nth-child(2n+1){width:100%;background:lightgray;width:60px;}
.place_ord table td input[type="text"]{border:0px;width:100%;height:100%;background:transparent;border-width:0px;}
.place_ord .dir_data table{width:100%;border:1px solid;background:white;border-collapse:collapse;}
.place_ord .dir_data table th{padding:2px;border:1px solid gray;font-size:14px;background:white;padding:5px 0;height:50px;font-weight:normal;}
.place_ord .dir_data table td{padding:2px;border:1px solid gray;font-size:10px;background:white;}
.place_ord .dir_data table td:nth-child(1){background:white;width:10%;}
.place_ord .dir_data table td:nth-child(2){background:white;width:10%}
.place_ord .dir_data table td input[type="text"]{border:0px;width:100%;height:100%;background:transparent;border-width:0px;}
.place_ord .dir_data table th:first-child{vertical-align:top;background:url(../img/direct.jpg) no-repeat top left/100% 100% white;}
.button
{
    background: #abda0f url(../img/overlay.png) repeat-x;
    padding: 8px 10px 8px;
    color: #fff !important;
    text-decoration: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
    cursor: pointer;
    float:left;
    font-size:18px;
    margin:10px;
}
form.register input[type=text].year
{
    border: 1px solid #E1E1E1;
    height: 18px;
    width:30px;
}
form.register input[type=checkbox] {
    width:14px;
    margin-top:4px;
	height:14px;
}
form.register select
{
    border: 1px solid #E1E1E1;
    width: 130px;
    float:left;
    margin-bottom:3px;
    color: #505050;
    margin-right:5px;
}
form.register select.date
{
    width: 40px;
}
input:focus, select:focus{
    background-color: #efffe0;
}
p.info{
    font-size:7pt;
    color: gray;
}
p.agreement{
    margin-left:15px;
}
p.agreement label{
    width:390px;
    text-align:left;
    margin-top:3px;
}



