tr
	{mso-height-source:auto;}
col
	{mso-width-source:auto;}
br
	{mso-data-placement:same-cell;}
.style17
	{mso-number-format:"_\(* \#\,\#\#0\.00_\)\;_\(* \\\(\#\,\#\#0\.00\\\)\;_\(* \0022-\0022??_\)\;_\(\@_\)";
	mso-style-name:Comma;
	mso-style-id:3;}
.style16
	{mso-number-format:"_\(\0022$\0022* \#\,\#\#0\.00_\)\;_\(\0022$\0022* \\\(\#\,\#\#0\.00\\\)\;_\(\0022$\0022* \0022-\0022??_\)\;_\(\@_\)";
	mso-style-name:Currency;
	mso-style-id:4;}
.style0
	{mso-number-format:General;
	text-align:general;
	vertical-align:bottom;
	white-space:nowrap;
	mso-rotate:0;
	mso-background-source:auto;
	mso-pattern:auto;
	color:windowtext;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	border:none;
	mso-protection:locked visible;
	mso-style-name:Normal;
	mso-style-id:0;}
.font15
	{color:windowtext;
	font-size:8.0pt;
	font-weight:700;
	font-style:italic;
	text-decoration:none;
	font-family:"Century Gothic", sans-serif;
	mso-font-charset:0;}
.font17
	{color:windowtext;
	font-size:8.0pt;
	font-weight:700;
	font-style:italic;
	text-decoration:underline;
	text-underline-style:single;
	font-family:"Century Gothic", sans-serif;
	mso-font-charset:0;}
.font19
	{color:windowtext;
	font-size:8.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;}
.font20
	{color:windowtext;
	font-size:8.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;}
.font25
	{color:windowtext;
	font-size:8.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:underline;
	text-underline-style:single;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;}
td
	{mso-style-parent:style0;
	padding:0px;
	mso-ignore:padding;
	color:windowtext;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:general;
	vertical-align:bottom;
	border:none;
	mso-background-source:auto;
	mso-pattern:auto;
	mso-protection:locked visible;
	white-space:nowrap;
	mso-rotate:0;}
.xl65
	{mso-style-parent:style0;
	font-family:"Century Gothic", sans-serif;
	mso-font-charset:0;}
.xl66
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-family:"Century Gothic", sans-serif;
	mso-font-charset:0;}
.xl67
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-family:"Century Gothic", sans-serif;
	mso-font-charset:0;
	background:white;
	mso-pattern:black none;}
.xl68
	{mso-style-parent:style0;
	font-size:12.0pt;
	font-family:"Century Gothic", sans-serif;
	mso-font-charset:0;
	text-align:left;
	background:white;
	mso-pattern:black none;
	padding-left:12px;
	mso-char-indent-count:1;}
.xl69
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-family:"Century Gothic", sans-serif;
	mso-font-charset:0;
	text-align:left;
	background:white;
	mso-pattern:black none;}
.xl70
	{mso-style-parent:style0;
	font-size:7.5pt;
	font-family:"Century Gothic", sans-serif;
	mso-font-charset:0;
	vertical-align:middle;}
.xl71
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-family:"Century Gothic", sans-serif;
	mso-font-charset:0;
	mso-number-format:"Short Date";
	text-align:left;
	background:white;
	mso-pattern:black none;}
.xl72
	{mso-style-parent:style0;
	font-size:14.0pt;
	font-weight:700;
	font-family:"Century Gothic", sans-serif;
	mso-font-charset:0;
	background:white;
	mso-pattern:black none;}
.xl73
	{mso-style-parent:style0;
	font-size:14.0pt;
	font-weight:700;
	font-family:"Century Gothic", sans-serif;
	mso-font-charset:0;}
.xl74
	{mso-style-parent:style0;
	font-size:14.0pt;
	font-weight:700;
	font-style:italic;
	font-family:"Bodoni MT Black", serif;
	mso-font-charset:0;
	background:white;
	mso-pattern:black none;}
.xl75
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-weight:700;
	font-family:"Century Gothic", sans-serif;
	mso-font-charset:0;
	background:white;
	mso-pattern:black none;}
.xl76
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-weight:700;
	font-family:"Century Gothic", sans-serif;
	mso-font-charset:0;
	background:white;
	mso-pattern:black none;}
.xl77
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-weight:700;
	font-family:"Century Gothic", sans-serif;
	mso-font-charset:0;
	mso-number-format:"Short Date";
	background:white;
	mso-pattern:black none;}
.xl78
	{mso-style-parent:style0;
	font-size:7.5pt;
	font-family:"Book Antiqua", serif;
	mso-font-charset:0;
	text-align:left;
	vertical-align:middle;}
.xl79
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	mso-number-format:"m\/d\/yy\;\@";
	text-align:left;
	border:1.0pt solid windowtext;
	background:white;
	mso-pattern:black none;}
.xl80
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	mso-number-format:"m\/d\/yy\;\@";
	text-align:left;
	border-top:1.0pt solid windowtext;
	border-right:none;
	border-bottom:1.0pt solid windowtext;
	border-left:none;
	background:white;
	mso-pattern:black none;}
.xl81
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	mso-number-format:0;
	text-align:left;
	vertical-align:middle;
	border-top:none;
	border-right:1px solid silver;
	border-bottom:1px solid silver;
	border-left:1px solid silver;
	background:white;
	mso-pattern:black none;}
.xl82
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	mso-number-format:Fixed;
	text-align:left;
	vertical-align:middle;
	border-top:none;
	border-right:1px solid silver;
	border-bottom:1px solid silver;
	border-left:1px solid silver;
	background:white;
	mso-pattern:black none;}
.xl83
	{mso-style-parent:style16;
	font-size:8.0pt;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	mso-number-format:"_\(\0022$\0022* \#\,\#\#0_\)\;_\(\0022$\0022* \\\(\#\,\#\#0\\\)\;_\(\0022$\0022* \0022-\0022??_\)\;_\(\@_\)";
	vertical-align:middle;
	border-top:none;
	border-right:1px solid silver;
	border-bottom:1px solid silver;
	border-left:1px solid silver;
	background:white;
	mso-pattern:black none;}
.xl84
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	mso-number-format:"_\(\0022$\0022* \#\,\#\#0\.00_\)\;_\(\0022$\0022* \\\(\#\,\#\#0\.00\\\)\;_\(\0022$\0022* \0022-\0022??_\)\;_\(\@_\)";
	vertical-align:middle;
	border-top:none;
	border-right:1px solid silver;
	border-bottom:1px solid silver;
	border-left:1px solid silver;
	background:white;
	mso-pattern:black none;}
.xl85
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	mso-number-format:0;
	text-align:left;
	vertical-align:middle;
	border:1px solid silver;
	background:white;
	mso-pattern:black none;}
.xl86
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	mso-number-format:"_\(\0022$\0022* \#\,\#\#0\.00_\)\;_\(\0022$\0022* \\\(\#\,\#\#0\.00\\\)\;_\(\0022$\0022* \0022-\0022??_\)\;_\(\@_\)";
	vertical-align:middle;
	border:1px solid silver;
	background:white;
	mso-pattern:black none;}
.xl87
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	mso-number-format:Fixed;
	text-align:left;
	vertical-align:middle;
	border:1px solid silver;
	background:white;
	mso-pattern:black none;}
.xl88
	{mso-style-parent:style0;
	font-size:7.5pt;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	text-align:left;
	vertical-align:middle;}
.xl89
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	text-align:left;
	vertical-align:middle;}
.xl90
	{mso-style-parent:style0;
	font-size:7.5pt;
	font-weight:700;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	text-align:left;
	vertical-align:middle;}
.xl91
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	text-align:center;
	border:1.0pt solid windowtext;
	background:white;
	mso-pattern:black none;}
.xl92
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	text-align:center;
	border-top:1.0pt solid windowtext;
	border-right:none;
	border-bottom:1.0pt solid windowtext;
	border-left:none;
	background:white;
	mso-pattern:black none;}
.xl93
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;}
.xl94
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-family:"Century Gothic", sans-serif;
	mso-font-charset:0;
	text-align:right;
	vertical-align:middle;
	background:white;
	mso-pattern:black none;}
.xl95
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-weight:700;
	font-family:"Century Gothic", sans-serif;
	mso-font-charset:0;
	mso-number-format:"m\/d\/yy\;\@";
	vertical-align:middle;
	background:white;
	mso-pattern:black none;}
.xl96
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	mso-number-format:Fixed;
	text-align:left;
	vertical-align:middle;
	border-top:none;
	border-right:1px solid silver;
	border-bottom:none;
	border-left:1px solid silver;
	background:white;
	mso-pattern:black none;}
.xl97
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	mso-number-format:"_\(\0022$\0022* \#\,\#\#0_\)\;_\(\0022$\0022* \\\(\#\,\#\#0\\\)\;_\(\0022$\0022* \0022-\0022??_\)\;_\(\@_\)";
	vertical-align:middle;
	border-top:1px solid silver;
	border-right:1px solid #BFBFBF;
	border-bottom:1px solid silver;
	border-left:1px solid silver;
	background:#F3F3F3;
	mso-pattern:black none;}
.xl98
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	mso-number-format:Fixed;
	text-align:left;
	vertical-align:middle;
	background:white;
	mso-pattern:black none;}
.xl99
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	text-align:left;
	vertical-align:middle;
	border-top:1px solid #BFBFBF;
	border-right:none;
	border-bottom:none;
	border-left:none;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl100
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	mso-number-format:Fixed;
	text-align:left;
	vertical-align:middle;
	border-top:1px solid silver;
	border-right:1px solid silver;
	border-bottom:1px solid #BFBFBF;
	border-left:1px solid silver;
	background:white;
	mso-pattern:black none;}
.xl101
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	mso-number-format:Fixed;
	text-align:left;
	vertical-align:middle;
	border-top:1px solid #BFBFBF;
	border-right:none;
	border-bottom:none;
	border-left:none;
	background:white;
	mso-pattern:black none;}
.xl102
	{mso-style-parent:style16;
	font-size:8.0pt;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	mso-number-format:"_\(\0022$\0022* \#\,\#\#0_\)\;_\(\0022$\0022* \\\(\#\,\#\#0\\\)\;_\(\0022$\0022* \0022-\0022??_\)\;_\(\@_\)";
	vertical-align:middle;
	background:white;
	mso-pattern:black none;}
.xl103
	{mso-style-parent:style16;
	font-size:8.0pt;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	mso-number-format:"_\(\0022$\0022* \#\,\#\#0_\)\;_\(\0022$\0022* \\\(\#\,\#\#0\\\)\;_\(\0022$\0022* \0022-\0022??_\)\;_\(\@_\)";
	vertical-align:middle;
	border-top:none;
	border-right:none;
	border-bottom:none;
	border-left:1px solid #BFBFBF;
	background:white;
	mso-pattern:black none;}
.xl104
	{mso-style-parent:style16;
	font-size:8.0pt;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	mso-number-format:"_\(\0022$\0022* \#\,\#\#0_\)\;_\(\0022$\0022* \\\(\#\,\#\#0\\\)\;_\(\0022$\0022* \0022-\0022??_\)\;_\(\@_\)";
	vertical-align:middle;
	border-top:1px solid silver;
	border-right:1px solid silver;
	border-bottom:1px solid #BFBFBF;
	border-left:1px solid silver;
	background:white;
	mso-pattern:black none;}
.xl105
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	mso-number-format:"_\(\0022$\0022* \#\,\#\#0\.00_\)\;_\(\0022$\0022* \\\(\#\,\#\#0\.00\\\)\;_\(\0022$\0022* \0022-\0022??_\)\;_\(\@_\)";
	vertical-align:middle;
	border-top:1px solid silver;
	border-right:1px solid silver;
	border-bottom:1px solid #BFBFBF;
	border-left:1px solid silver;
	background:white;
	mso-pattern:black none;}
.xl106
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	mso-number-format:0;
	text-align:left;
	vertical-align:middle;
	border-top:1px solid #BFBFBF;
	border-right:none;
	border-bottom:none;
	border-left:1px solid #BFBFBF;
	background:white;
	mso-pattern:black none;}
.xl107
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-weight:700;
	font-family:"Century Gothic", sans-serif;
	mso-font-charset:0;
	text-align:left;
	vertical-align:middle;
	background:white;
	mso-pattern:black none;}
.xl108
	{mso-style-parent:style0;
	font-family:"Century Gothic", sans-serif;
	mso-font-charset:0;
	text-align:right;}
.xl109
	{mso-style-parent:style0;
	font-size:9.0pt;
	font-weight:700;
	font-family:"Century Gothic", sans-serif;
	mso-font-charset:0;
	text-align:center;
	background:white;
	mso-pattern:black none;}
.xl110
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-weight:700;
	font-style:italic;
	font-family:"Century Gothic", sans-serif;
	mso-font-charset:0;
	text-align:center;
	background:white;
	mso-pattern:black none;}
.xl111
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-weight:700;
	font-family:"Century Gothic", sans-serif;
	mso-font-charset:0;}
.xl112
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-weight:700;
	font-family:"Century Gothic", sans-serif;
	mso-font-charset:0;
	text-align:left;
	vertical-align:middle;}
.xl113
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-weight:700;
	font-family:"Century Gothic", sans-serif;
	mso-font-charset:0;
	text-align:center;}
.xl114
	{mso-style-parent:style0;
	font-size:7.5pt;
	font-weight:700;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	vertical-align:middle;}
.xl115
	{mso-style-parent:style0;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	text-align:left;
	vertical-align:middle;}
.xl116
	{mso-style-parent:style0;
	font-weight:700;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	text-align:right;
	vertical-align:middle;}
.xl117
	{mso-style-parent:style0;
	font-weight:700;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	vertical-align:middle;}
.xl118
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-weight:700;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	text-align:left;
	vertical-align:middle;
	background:white;
	mso-pattern:black none;}
.xl119
	{mso-style-parent:style17;
	font-size:8.0pt;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	mso-number-format:"_\(* \#\,\#\#0_\)\;_\(* \\\(\#\,\#\#0\\\)\;_\(* \0022-\0022??_\)\;_\(\@_\)";
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:1px solid silver;
	border-bottom:1px solid silver;
	border-left:1px solid silver;
	background:white;
	mso-pattern:black none;}
.xl120
	{mso-style-parent:style17;
	font-size:8.0pt;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	mso-number-format:"_\(* \#\,\#\#0_\)\;_\(* \\\(\#\,\#\#0\\\)\;_\(* \0022-\0022??_\)\;_\(\@_\)";
	text-align:center;
	vertical-align:middle;
	border-top:1px solid silver;
	border-right:none;
	border-bottom:1px solid #BFBFBF;
	border-left:1px solid #BFBFBF;
	background:white;
	mso-pattern:black none;}
.xl121
	{mso-style-parent:style0;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	mso-number-format:"_\(\0022$\0022* \#\,\#\#0_\)\;_\(\0022$\0022* \\\(\#\,\#\#0\\\)\;_\(\0022$\0022* \0022-\0022??_\)\;_\(\@_\)";
	vertical-align:middle;
	border-top:1px solid silver;
	border-right:1px solid #D9D9D9;
	border-bottom:1px solid silver;
	border-left:1px solid silver;}
.xl122
	{mso-style-parent:style0;
	font-weight:700;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	mso-number-format:"_\(\0022$\0022* \#\,\#\#0_\)\;_\(\0022$\0022* \\\(\#\,\#\#0\\\)\;_\(\0022$\0022* \0022-\0022??_\)\;_\(\@_\)";
	vertical-align:middle;
	border-top:1px solid silver;
	border-right:1px solid #D9D9D9;
	border-bottom:1px solid silver;
	border-left:1px solid silver;
	background:#F3F3F3;
	mso-pattern:black none;}
.xl123
	{mso-style-parent:style0;
	font-weight:700;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	mso-number-format:"_\(\0022$\0022* \#\,\#\#0_\)\;_\(\0022$\0022* \\\(\#\,\#\#0\\\)\;_\(\0022$\0022* \0022-\0022??_\)\;_\(\@_\)";
	vertical-align:middle;
	border-top:1px solid windowtext;
	border-right:1px solid #D9D9D9;
	border-bottom:1px solid silver;
	border-left:1px solid silver;
	background:#F3F3F3;
	mso-pattern:black none;}
.xl124
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	text-align:left;
	vertical-align:middle;
	border-top:none;
	border-right:1px solid silver;
	border-bottom:1px solid silver;
	border-left:1px solid silver;
	background:white;
	mso-pattern:black none;}
.xl125
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-family:"Century Gothic", sans-serif;
	mso-font-charset:0;
	text-align:right;
	background:white;
	mso-pattern:black none;}
.xl126
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	vertical-align:middle;
	border-top:none;
	border-right:none;
	border-bottom:none;
	border-left:1px solid #BFBFBF;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl127
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	vertical-align:middle;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl128
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	vertical-align:middle;
	border-top:none;
	border-right:1px solid #BFBFBF;
	border-bottom:none;
	border-left:none;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl129
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	vertical-align:middle;
	border-top:none;
	border-right:none;
	border-bottom:none;
	border-left:1px solid #BFBFBF;}
.xl130
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	vertical-align:middle;}
.xl131
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	vertical-align:middle;
	border-top:none;
	border-right:1px solid #BFBFBF;
	border-bottom:none;
	border-left:none;}
.xl132
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	border-top:none;
	border-right:none;
	border-bottom:1px solid #BFBFBF;
	border-left:1px solid #BFBFBF;}
.xl133
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	border-top:none;
	border-right:none;
	border-bottom:1px solid #BFBFBF;
	border-left:none;}
.xl134
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	border-top:none;
	border-right:1px solid #BFBFBF;
	border-bottom:1px solid #BFBFBF;
	border-left:none;}
.xl135
	{mso-style-parent:style0;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	text-align:right;
	vertical-align:middle;
	border-top:none;
	border-right:1px solid silver;
	border-bottom:none;
	border-left:none;
	background:white;
	mso-pattern:black none;}
.xl136
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	vertical-align:middle;
	white-space:normal;}
.xl137
	{mso-style-parent:style0;
	font-weight:700;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	text-align:right;
	vertical-align:middle;
	border-top:1px solid #BFBFBF;
	border-right:1px solid silver;
	border-bottom:none;
	border-left:none;}
.xl138
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	mso-number-format:"_\(* \#\,\#\#0\.00_\)\;_\(* \\\(\#\,\#\#0\.00\\\)\;_\(* \0022-\0022??_\)\;_\(\@_\)";
	vertical-align:middle;
	border-top:1px solid #BFBFBF;
	border-right:none;
	border-bottom:none;
	border-left:1px solid #BFBFBF;
	background:white;
	mso-pattern:black none;}
.xl139
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	vertical-align:middle;
	border-top:none;
	border-right:none;
	border-bottom:none;
	border-left:1px solid #BFBFBF;
	background:white;
	mso-pattern:black none;}
.xl140
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:1px solid silver;
	border-bottom:1px solid silver;
	border-left:none;
	background:white;
	mso-pattern:black none;}
.xl141
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	text-align:left;
	vertical-align:middle;
	border-top:none;
	border-right:1px solid silver;
	border-bottom:none;
	border-left:1px solid silver;
	background:white;
	mso-pattern:black none;}
.xl142
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:1px solid silver;
	border-bottom:none;
	border-left:none;
	background:white;
	mso-pattern:black none;}
.xl143
	{mso-style-parent:style0;
	font-size:7.5pt;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	mso-number-format:"Short Date";
	text-align:left;
	vertical-align:middle;}
.xl144
	{mso-style-parent:style0;
	color:#D9D9D9;
	font-size:20.0pt;
	font-family:"Century Gothic", sans-serif;
	mso-font-charset:0;
	text-align:right;
	background:white;
	mso-pattern:black none;}
.xl145
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-weight:700;
	font-style:italic;
	font-family:"Century Gothic", sans-serif;
	mso-font-charset:0;
	text-align:left;
	background:white;
	mso-pattern:black none;}
.xl146
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	text-align:left;
	vertical-align:middle;
	border-top:1px solid silver;
	border-right:none;
	border-bottom:1px solid silver;
	border-left:1px solid silver;
	background:white;
	mso-pattern:black none;}
.xl147
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	text-align:left;
	vertical-align:middle;
	border-top:1px solid silver;
	border-right:1px solid silver;
	border-bottom:1px solid silver;
	border-left:none;
	background:white;
	mso-pattern:black none;}
.xl148
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	text-align:left;
	vertical-align:middle;
	border-top:none;
	border-right:none;
	border-bottom:1px solid silver;
	border-left:1px solid silver;
	background:white;
	mso-pattern:black none;}
.xl149
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	text-align:left;
	vertical-align:middle;
	border-top:none;
	border-right:1px solid #BFBFBF;
	border-bottom:1px solid silver;
	border-left:none;
	background:white;
	mso-pattern:black none;}
.xl150
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	text-align:left;
	border-top:1.0pt solid windowtext;
	border-right:none;
	border-bottom:1.0pt solid windowtext;
	border-left:none;
	background:white;
	mso-pattern:black none;}
.xl151
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	text-align:left;
	vertical-align:middle;
	border-top:1px solid silver;
	border-right:1px solid #BFBFBF;
	border-bottom:1px solid silver;
	border-left:none;
	background:white;
	mso-pattern:black none;}
.xl152
	{mso-style-parent:style0;
	font-size:12.0pt;
	font-weight:700;
	font-family:"Century Gothic", sans-serif;
	mso-font-charset:0;
	text-align:left;
	background:white;
	mso-pattern:black none;}
.xl153
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	text-align:left;
	vertical-align:middle;
	border-top:none;
	border-right:1px solid silver;
	border-bottom:1px solid silver;
	border-left:none;
	background:white;
	mso-pattern:black none;}
.xl154
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-family:"Century Gothic", sans-serif;
	mso-font-charset:0;
	text-align:left;
	vertical-align:middle;
	background:white;
	mso-pattern:black none;}
.xl155
	{mso-style-parent:style0;
	font-size:9.0pt;
	font-weight:700;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	text-align:right;
	vertical-align:middle;}
.xl156
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	text-align:left;
	vertical-align:middle;
	border-top:1px solid silver;
	border-right:none;
	border-bottom:none;
	border-left:1px solid silver;
	background:white;
	mso-pattern:black none;}
.xl157
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	text-align:left;
	vertical-align:middle;
	border-top:1px solid silver;
	border-right:1px solid silver;
	border-bottom:none;
	border-left:none;
	background:white;
	mso-pattern:black none;}
.xl158
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-weight:700;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	text-align:right;
	vertical-align:middle;
	border-top:1px solid #BFBFBF;
	border-right:none;
	border-bottom:none;
	border-left:none;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl159
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-weight:700;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	text-align:right;
	vertical-align:middle;
	border-top:1px solid #BFBFBF;
	border-right:1px solid #BFBFBF;
	border-bottom:none;
	border-left:none;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
