.assign.container-fluid {
	margin-top: 20px;
	margin-bottom: 40px;
	line-height: initial;
}
.assign .col-md-6:first-child {
	padding-right: 0;
}

.assign .fc-header-title h2 {
    font-size: 24px
}
.assign .fc-header-right {
	visibility: hidden;
}

.assign .tech_team_members {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 110px;
    border: 1px solid #ddd;
}
.assign .tech_team_members .member {
    margin: 10px;
    background-color: #FCF8E3;
    padding: 5px;
    border: 1px solid #DFD28D;
    font-size: 90%;
    cursor: move;
    text-align: left;
    border-radius: 3px;
}
.assign .tech_team_members .member:hover {
    background-color: #DFD28D;
}
.assign .tech_team_members .member i {
	margin-right: 5px;
}

.assign #calendar {
    display: block;
    float: none;
    margin-left: 110px;
}
.assign .fc-event-time .assignees {
	float: right;
	overflow: hidden;
}
.assign .fc-event-time .assignees span {
	background-color: orange;
	color: #000;
	padding: 2px 3px;
	font-size: 10px;
	border-radius: 2px;
	margin-left: 2px;
	display: inline-block;
}

.assign #map_day_container {
	padding: 0;
	overflow: hidden;
	border: 1px solid #ccc;
}
.assign #map_day_container #map_day {
    width: 100%;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    float: none;
    border: 0;
    box-shadow: none;
    border-radius: 0;
}
