a {
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: none;
}

.mt5 {
	margin-top: 5px;
}

div#mainContainer {
	width: auto;
	text-align: center;
	margin: 20px 0;
	padding: 10px 0;
}

.form-inline .input-small  {
	margin-bottom: 0px;
}

.form-inline input[id*='billing_add'] {
	width: 250px;
}

.form-inline input[id*='billing_city'] {
	width: 170px;
}

.form-inline input[id*='billing_state'] {
	width: 60px;
}

.form-inline input[id*='billing_zip'] {
	width: 75px;
}

div#divBillDetail {
	margin-top: 10px;
	height: 34px;
}

input.btn {
	color: #ffffff;
}

.calendar {
	margin-left: 0px;
}

button#titlebar {

}

.form-inline [id*='phone'] {
	width: 130px;
}

.left10 {
	margin-left: 10px;
}

.btm10 {
	margin-bottom: 10px;
}

.form-control {
	color: rgb(70, 70, 70);
}

.btn-info.active {
	background-color: rgb(149, 189, 225);
	border-color: rgb(149, 189, 225);
	border-radius: 4px;
	color: #000000;
	font-size: 14px;
	font-weight: bold;
}

.form-control.labelBox {
	width: 90px;
	background-color: #888888;
	border-radius: 4px;
	color: #000000;
	line-height: 20px;
	padding-top: 6px;
	padding-bottom: 6px;
	font-size: 14px;
	font-weight: bold;
}

.well-s	{
	border-radius: 4px;
}

.event-label {
	margin-right: 10px;
}

#leads {
	padding-bottom: 0px;
}

.form-inline input.input-large {
	width: 325px;
}

.form-inline label {
	margin-bottom: 0px;
}

.jobsite {
	padding-left: 0px;
	display: inline-block;
}

.table {
	margin-bottom: 0px;
}

.alert {
	margin-bottom: 10px;
}

.buttons {
	margin-top: 10px;
}

td.prior_jobs {
	white-space:nowrap;
	padding-top: 10px;
}

td.prior_jobs_last {
	width: 99%;
	padding-top: 10px;
}

.sourceTitle {
	margin-top: 10px;
	margin-bottom: 10px;
}

/* #source_referral {
	width: 300px;
}
 */
.styles {
	margin-right: 4px;
	margin-top: 6px;
}

.icon-remove {
	border-radius: 3px;
	margin-top: 4px;
	margin-left: 3px;
	border: 1px solid rgba(255,0,0,.25);
}

.icon-plus {
	border-radius: 3px;
	margin-left: 3px;
	border: 1px solid #0088CC;
}

.icon-remove:hover {
	background-color: rgba(255,0,0,.25);
}

.icon-plus:hover {
	background-color: #0088CC;
}

a#btnDel {
	margin-left: 0px;
}

button.btn-schedule {
	width: 120px;
	padding-top: 2px;
	padding-bottom: 2px;
	line-height: 15px;
}

button#btnBillDetail {
	height: 34px;
}

li.oldNote > em {
	font-weight: normal;
	line-height: 10px;
}

li.oldNote > strong {
	font-size: 100%;
}

.existing .cust_name {
	padding: 0p;
	margin: 0p;
	width: 125px;
}

#jobListID {
	text-align: center;
	width: 30px;
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion + .tt-suggestion {
	border-top: 1px solid #d8d8d8;
}

.tt-dropdown-menu {
	margin-top: 12px;
	padding: 8px 0;
	background-color: #fff;
	text-align: left;
	z-index: 100;
	opacity: .95;
	border: 1px solid #bdbdbd;
	-webkit-border-radius: 8px;
		-moz-border-radius: 8px;
			border-radius: 8px;
	-webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
		-moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
			box-shadow: 0 5px 10px rgba(0,0,0,.2);
	width: 400px;
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 1px solid #0097cf;
}

.tt-name {
	font-weight: bold;
}

input.tt-query {
	margin-top: 2px;
	font-size: 18px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
		-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
			box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

span.twitter-typeahead input.tt-hint {
	margin-top: 0px;
	width: 115px;
	font-size: 14px;
	margin-bottom: 0px;
	color: #999999;
}

.tt-custID {
	font-style: italic;
	font-weight: normal;
	float: right;
	font-size: 14px;
}

.tt-address {
  font-size: 14px;
}

.tt-suggestion.tt-is-under-cursor {
  color: #3A87AD;
  background-color: #D9EDF7;

}

.tt-suggestion  > p{
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 10px;
	line-height: 25px;
}

/*div.tt-is-under-cursor, p:hover {
	background-color: #c3c3c3;
}
*/
/* highlight results */
.ui-autocomplete span.hl_results {
    background-color: #ffff66;
}
 
/* loading - the AJAX indicator */
.ui-autocomplete-loading {
    background: white url('../img/ui-anim_basic_16x16.gif') right center no-repeat;
}
 
/* scroll results */
.ui-autocomplete {
    max-height: 250px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
    /* add padding for vertical scrollbar */
    padding-right: 5px;
}
 
.ui-autocomplete li {
    font-size: 16px;
}
 
/* IE 6 doesn't support max-height
* we use height instead, but this forces the menu to always be this tall
*/
* html .ui-autocomplete {
    height: 250px;
}

.btnAdd {
	text-align:right;
	margin-left: 25px;
	font-style:	normal;
	font-weight:normal;
	cursor: pointer;
}

.clonedSection {
	margin-left: 0px;
}

.style {
	margin-top: 10px;
	margin-bottom: 10px;
	font-weight:	bold;
	font-style:	italic;
}

.styleSelect {
	width: 125px;
}

.materialSelect {
	width: 125px;
}

.ui-dialog,
.ui-dialog-buttonpane,
.ui-dialog-content ,
.ui-widget-content {
	background-color: #ffffff;
	background-image: none;
}

.ui-widget-header {
	background-image: linear-gradient(to bottom, #0088CC, #0044CC);
	background-color: #ffffff;
	border: #a5a5a5;
}

.scheduleLabel {
	margin-bottom: 0px;
	line-height: 30px;
	float: left;
}

#title , #location {
	height: 30px;
	resize: none;
	margin-top: 2px;
	margin-bottom: 2px;
}

input#location , input#summary {
	width: 300px;
}

div#divMore {
	margin-top: 5px;
}

textarea#note {
	width: 87%;
	height: 34px;
}

textarea#note2 {
	width: 97%;
	padding-right: 5px;
	padding-left: 5px;
}

.field {
	margin-left: 0px;
}
	
#arrivalWindow {
	width: 120px;
}

#calendarName {
	width: 100px;
}

.row {
	margin-left: 0px;
}

.ui-corner-all {
    border-radius: 6px;
}

.ui-dialog .ui-dialog-titlebar {
    padding: .4em 1em;
    position: relative;
	line-height: 20px;
}
.ui-widget-overlay {
    background: #666666;
    opacity: 0.5;
}

body {
	line-height:10px;
}

div.modal-body {
	min-height: 65px;
}

hr {
	margin: 10px;
}

p {
	margin-top: 10px;
}

strong {
	font-weight: bold;
	font-size: 125%;
}

em {
	font-weight: bold;
}

.form-inline td input.input-small {
	margin-right: 0px;
}

.form-inline .input-small[name=f_name] {
	width: 110px;
}

.form-inline input[id*='l_name'] {
	width: 115px;
	background-color: #ffffff;
}

.form-inline .input-small[name=email] {
	width: 200px;
}

.timestamp {
	width: 140px;
}

.address {
	width: 225px;
}

.form-inline [id*='job_city'] {
	width: 150px;
}

.state {
	width: 50px;
}

.form-inline [id*='zip'] {
	width: 70px;
}

.form-inline [id*='built'] {
	width: 75px;
}

.form-inline[name=lead_other] {
	width: 150px;
}

.form-inline .input-small[name=symptoms] {
	margin-bottom: 5px;
	width: 99%;
	padding-right: 0px;
	resize: none;
}

.form-inline .textarea {
	width: 99%;
	margin-top: 5px;
	padding-right: 0px;
	resize: none;
	text-align: left;
}

.well {
	margin-bottom: 10px;
	width: 1120px;
}

.well-sm, input[name=checkbox] {
	padding-top: 5px;
	padding-bottom: 5px;
	margin: 0px;
	margin-bottom: 10px;
	width: 1100px;
}

#checkbox_label {
	padding-bottom: 5px;
	font-weight: bold;
}

#checkbox_middle {
	padding-top: 5px;
}

form {
	margin-bottom: 0px;
}

input[type=submit] {
	width: 120px;
}

input[name=type_other] {
	width: 150px;
	margin-top: 5px;
	margin-bottom: 7px;
}

input#window_qty {
	width: 50px;
	height: 34px;
	padding-top: 6px;
	padding-bottom: 6px;
	border-radius: 4px;
}

div[name=source] {
}

input[name=source_other] {
	width: 150px;
	margin-bottom: 5px;
}

input#source_referral {
	width: 250px;
	margin-bottom: 5px;
}

input[type=checkbox] {
	margin-bottom: 5px;
}

td input[name=job_radios], input[type=radio] {
	margin-top: 7px;
}

#source, .form-inline .radio, input[name=lead_source], input[type=radio] {
	margin-bottom: 5px;
}

#sourceCheckbox5a {
	display: inline-block;
}	

#source_referral2 {
	display: inline-block;
	width: 250px;
}

.existing-customer-row, .new-customer-row {
	display: none;
}
.customer_type label.new {
	margin-left: 10px;
}

.gmnoprint, .gm-style-cc {
    visibility: hidden !important;
}

.unmapped {
    opacity: 0.4;
}
.unmapped:hover {
  opacity: 1;
}
.infocus {
    opacity: 1;
    box-shadow: 0 0 15px #000;
}
div#event_modd {
    position: absolute;
    z-index: 9999;
    border: 1px solid #ccc;
    background-color: #E8F2E0;
}
div#event_modd > div {
	display: inline-block;
	padding: 6px;
	color: #333;
}
div#event_modd > div:not(.vsep) {
    cursor: pointer;
}
div#event_modd > div:not(.vsep):hover {
    color: rgb(190, 86, 86);
}
div#event_modd > div.vsep {
    padding: 6px 0;
    border-right: 1px solid #ccc;
    width: 0;
    color: transparent;
    pointer-events: none;
}
.fc-event.fc-select-helper {
    opacity: 0.8 !important;
    z-index: 100 !important;
	color: #000000;
}

.modalWell {
	width: auto;
}

input#datePick {
	width: auto;
}

div#eventData {
	margin-left: 15px;
}

div#dateSelect {
	margin-left: 15px;
}

button#btnDelete, button#btnConfirmDelete {
	float: right;
}

div.buttonMargin {
	margin-top: 15px;
	margin-bottom: 15px;
}

div#mdlYouSure {
	width: 50%;
	margin-left: 25%;
}

.frmEditEvent {
	display: inline;
}

#lblType {
	Margin-left: 15px;
}


/* calendar layout changes */
body {
    padding-top: 52px !important;
}
div#mainContainer {
	padding: 6px 0;
	border-radius: 0;
}
.add-cust-container.calendar-top-bar {
	overflow: hidden;
	font-size: 90%;
	margin-bottom: 8px !important;
}
.calendar-top-bar .avatarList {
	float: left;
	margin: 0;
	margin-left: 15px;
}
.calendar-top-bar #newLeadForm {
	float: right;
	margin-right: 15px;
}
.calendar-top-bar .avatarList > img {
    width: 24px;
}
.calendar-top-bar .avatarList > img:not(:first-child) {
    margin-left: 6px;
}
.calendar-top-bar input.form-control {
    padding: 3px 12px;
    height: 26px;
}
.calendar-top-bar textarea#note {
	margin-top: 0;
}
.calendar-top-bar .btn {
	padding: 3px 12px;
    height: 25px;
    vertical-align: top;
}
.calendar-top-bar #divMore {
	text-align: left;
    padding-top: 10px;
}
.fc-header-center {
	vertical-align: middle !important;
}
.fc-header-title h2 {
    margin-bottom: 0;
    font-size: 22px;
}
.fc-header .fc-button {
    margin-bottom: 9px;
}
div#myModal .modal-dialog {
    width: 800px
}
#startTimeSpan, #endTimeSpan {
	line-height: 30px;
}