div#mainContainer {
	width: 1120px;
}

.form-inline .input-small  {
	margin-bottom: 0px;
	vertical-align: bottom;
}

input#billing_state {
	width: 60px;
}

input#billing_zip{
	width: 85px;
}

div#divBillDetail {
	margin-top: 10px;
	height: 34px;
}

input.btn {
	color: #ffffff;
}

.calendar {
	margin-left: 0px;
}

button#titlebar {

}

.form-inline .phone {
	width: 130px;
}

.left10 {
	margin-left: 10px;
}

.top5 {
	margin-top: 5px;
}

.btm10 {
	margin-bottom: 10px;
}

.form-control {
	color: rgb(70, 70, 70);
}

.btn-info.active {
	background-color: rgb(149, 189, 225);
	border-color: rgb(149, 189, 225);
	border-radius: 4px;
	color: #000000;
	font-size: 14px;
	font-weight: bold;
}

.form-control.labelBox {
	width: auto;
	background-color: #888888;
	border-radius: 4px;
	color: #000000;
	line-height: 20px;
	padding-top: 6px;
	padding-bottom: 6px;
	font-size: 14px;
	font-weight: bold;
}

.well-s	{
	border-radius: 4px;
}

.event-label {
	margin-right: 10px;
}

#leads {
	padding-bottom: 0px;
}

.form-inline input.input-large {
	width: 325px;
}

.form-inline label {
	margin-bottom: 0px;
}

.jobsite {
	padding-left: 0px;
	display: inline-block;
}

.table {
	margin-bottom: 0px;
}

.alert {
	margin-bottom: 10px;
	line-height: 1.4;
}

.buttons {
	margin-top: 10px;
}

td.prior_jobs {
	white-space:nowrap;
	padding-top: 10px;
}

td.prior_jobs_last {
	width: 99%;
	padding-top: 10px;
}

.sourceTitle {
	margin-top: 10px;
	margin-bottom: 10px;
}
.styles {
	margin-right: 4px;
	margin-top: 6px;
}

.icon-remove {
	border-radius: 3px;
	margin-top: 4px;
	margin-left: 3px;
	border: 1px solid rgba(255,0,0,.25);
}

.icon-plus {
	border-radius: 3px;
	margin-left: 3px;
	border: 1px solid #0088CC;
}

.icon-remove:hover {
	background-color: rgba(255,0,0,.25);
}

.icon-plus:hover {
	background-color: #0088CC;
}

a#btnDel {
	margin-left: 0px;
}

button.btn-schedule {
	width: 120px;
	padding-top: 2px;
	padding-bottom: 2px;
	line-height: 15px;
}

li.oldNote > em {
	font-weight: normal;
	line-height: 10px;
}

li.oldNote > strong {
	font-size: 100%;
}

.existing .cust_name {
	padding: 0p;
	margin: 0p;
	width: 125px;
}

tr.msg_row {
	height: auto;
}

td.msg_type {
	padding: 0p;
	margin: 0p;
	width: 100px;
}

table.msg-table tbody.existing tr.msg_row td.note_body {
	padding: 0p;
	margin: 0p;
	width: 650px;
	text-overflow: clip;
	white-space: normal;
	overflow: visible;
}

td.note_created {
	padding: 0p;
	margin: 0p;
	width: 150px;
}

#jobListID {
	text-align: center;
	width: 30px;
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion + .tt-suggestion {
	border-top: 1px solid #d8d8d8;
}

.tt-dropdown-menu {
	margin-top: 12px;
	padding: 8px 0;
	background-color: #fff;
	text-align: left;
	z-index: 100;
	opacity: .95;
	border: 1px solid #bdbdbd;
	-webkit-border-radius: 8px;
		-moz-border-radius: 8px;
			border-radius: 8px;
	-webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
		-moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
			box-shadow: 0 5px 10px rgba(0,0,0,.2);
	width: 400px;
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 1px solid #0097cf;
}

.tt-name {
	font-weight: bold;
}

input.tt-query {
	margin-top: 2px;
	font-size: 18px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
		-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
			box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

span.twitter-typeahead input.tt-hint {
	margin-top: 0px;
	width: 115px;
	font-size: 14px;
	margin-bottom: 0px;
	color: #999999;
}

.tt-custID {
	font-style: italic;
	font-weight: normal;
	float: right;
	font-size: 14px;
}

.tt-address {
  font-size: 14px;
}

.tt-suggestion.tt-is-under-cursor {
  color: #3A87AD;
  background-color: #D9EDF7;

}

.tt-suggestion  > p{
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 10px;
	line-height: 25px;
}

/*div.tt-is-under-cursor, p:hover {
	background-color: #c3c3c3;
}
*/
/* highlight results */
.ui-autocomplete span.hl_results {
    background-color: #ffff66;
}
 
/* loading - the AJAX indicator */
.ui-autocomplete-loading {
    background: white url('../img/ui-anim_basic_16x16.gif') right center no-repeat;
}
 
/* scroll results */
.ui-autocomplete {
    max-height: 250px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
    /* add padding for vertical scrollbar */
    padding-right: 5px;
}
 
.ui-autocomplete li {
    font-size: 16px;
}
 
/* IE 6 doesn't support max-height
* we use height instead, but this forces the menu to always be this tall
*/
* html .ui-autocomplete {
    height: 250px;
}

.btnAdd {
	text-align:right;
	margin-left: 25px;
	font-style:	normal;
	font-weight:normal;
	cursor: pointer;
}

.clonedSection {
	margin-left: 0px;
}

.style {
	margin-top: 10px;
	margin-bottom: 10px;
	font-weight:	bold;
	font-style:	italic;
}

.styleSelect {
	width: 125px;
}

.materialSelect {
	width: 125px;
}

.ui-dialog,
.ui-dialog-buttonpane,
.ui-dialog-content ,
.ui-widget-content {
	background-color: #ffffff;
	background-image: none;
}

.ui-widget-header {
	background-image: linear-gradient(to bottom, #0088CC, #0044CC);
	background-color: #ffffff;
	border: #a5a5a5;
}

.scheduleLabel {
	margin-bottom: 0px;
	line-height: 30px;
	float: left;
}

#title , #location {
	height: 30px;
	resize: none;
	margin-top: 2px;
	margin-bottom: 2px;
}

input#location , input#summary {
	width: 300px;
}

textarea#notes {
	width: 100%;
}

.field {
	margin-left: 0px;
}
	
#arrivalWindow {
	width: 120px;
}

#calendarName {
	width: 100px;
}

.row {
	margin-left: 0px;
	margin-top: 10px;
}

.ui-corner-all {
    border-radius: 6px;
}

.ui-dialog .ui-dialog-titlebar {
    padding: .4em 1em;
    position: relative;
	line-height: 20px;
}
.ui-widget-overlay {
    background: #666666;
    opacity: 0.5;
}

body {
	line-height:10px;
}

hr {
	margin: 10px;
}

p {
	margin-top: 10px;
}

strong {
	font-weight: bold;
	font-size: 110%;
	line-height: 14px;
}

em {
	font-weight: bold;
}

.form-inline td input.input-small {
	margin-right: 0px;
}

/*.form-inline .input-small {
	margin-right: 10px;
	margin-bottom: 10px;
	display: table-cell;
    vertical-align: bottom;
}*/

.form-inline .input-small[name=f_name] {
	width: 110px;
}

.form-inline input#l_name {
	width: 115px;
	background-color: #ffffff;
}

.form-inline .input-small[name=email] {
	width: 220px;
}

.timestamp {
	width: 140px;
}

.address {
	width: 225px;
}

.city {
	width: 150px;
}

.state {
	width: 50px;
}

.zip {
	width: 50px;
}

.built {
	width: 70px;
}

.form-inline[name=lead_other] {
	width: 150px;
}

.form-inline .input-small[name=symptoms] {
	margin-bottom: 5px;
	width: 99%;
	padding-right: 0px;
	resize: none;
}

.form-inline .textarea {
	width: 99%;
	margin-top: 5px;
	padding-right: 0px;
	resize: none;
	text-align: left;
}

.well {
	margin-bottom: 10px;
	/*width: 1120px;*/
}

.well-sm, input[name=checkbox] {
	padding-top: 5px;
	padding-bottom: 10px;
	margin: 0px;
	margin-bottom: 10px;
	/*width: 1100px;*/
}

textarea#note {
	width: 100%;
}

#checkbox_label {
	padding-bottom: 5px;
	font-weight: bold;
}

#checkbox_middle {
	padding-top: 5px;
}

form {
	margin-bottom: 0px;
}

input[type=submit] {
	width: 100px;
}

input[name=type_other] {
	width: 150px;
	margin-top: 5px;
	margin-bottom: 7px;
}

input#window_qty {
	width: 50px;
	height: 34px;
	padding-top: 6px;
	padding-bottom: 6px;
	border-radius: 4px;
}

div[name=source] {
}

input[name=source_other] {
	width: 150px;
	margin-bottom: 5px;
}

input[name=source_referral] {
	width: 150px;
	margin-bottom: 5px;
}

input[type=checkbox] {
	margin-bottom: 5px;
}

td input[name=job_radios], input[type=radio] {
	margin-top: 7px;
}

#source, .form-inline .radio, input[name=lead_source], input[type=radio] {
	margin-bottom: 5px;
}

/* new - address autocomplete and related */
div.built {
	margin-bottom: 10px;
}

div.wellNotes {
	width: auto;
}

div#leads {
	width: auto;
	padding: 15px 0;
}
div#addCustomerForm {
	display: none;
}
div#leads > h4 {
	margin-top: 3px;
}

h3.leads-heading {
	margin: 0;
	padding: 15px 0;
	position: relative;
}
h3.leads-heading button {
	position: absolute;
	right: 0;
	top: 15px;
	padding: 3px 6px;
}
.well-sm.source {
	width: 1100px;
	margin-top: 10px;
}


table.table-leads th, table.table-leads td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 220px;
}

table.table-leads tbody.quotes td {
	background: transparent !important;
}

table.table-leads tbody tr.quotes-row td {
	border: 0 !important;
	font-size: 90%;
}
table.table-leads tbody tr.quotes-row td ul {
	list-style-position: outside;
	margin-left: -25px;
	list-style-type: square;
}
table.table-leads tbody tr.quotes-row td ul li a {
	display: inline;
	line-height: 20px;
}

span.quote-id {
	width: 66px;
	display: inline-block;
	line-height: 20px;
}
div.pages {
	text-align: left;
	border: 1px solid rgb(171, 209, 218);
	padding: 10px;
	font-size: 90%;
	background-color: #EBF5F7;
	margin-top: 15px;
}
span.page-info {
	float: right;
	font-weight: 300;
	color: #666;
}
a.disabled {
	color: #aaa;
}
a.disabled:hover {
	text-decoration: none;
}
div.search-results h3 {
	margin: 20px 0;
}
div.search-results .panel-body {
	padding: 0;
	margin-top: 15px;
}


/* Alignment fix in leads page */
/* Job # */
table.table-leads thead tr th:nth-child(1),
table.table-leads tbody tr td:nth-child(1) {
    width: 70px;
    text-align: center;
    color: #555;
}
/* Last Name */
table.table-leads thead tr th:nth-child(2),
table.table-leads tbody tr td:nth-child(2) {
    width: 200px;
}
table.table-leads tbody tr td:nth-child(2) a {
    display: block;
    max-width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

/* Address, City, Phone */
table.table-leads thead tr th:nth-child(3),
table.table-leads tbody tr td:nth-child(3),
table.table-leads thead tr th:nth-child(4),
table.table-leads tbody tr td:nth-child(4),
table.table-leads thead tr th:nth-child(5),
table.table-leads tbody tr td:nth-child(5) {
    width: 220px;
}
/* Actions */
table.table-leads thead tr th:nth-child(6),
table.table-leads tbody tr td:nth-child(6) {
    text-align: right;
}
