.title h3 {
	margin-top: 0;
	margin-bottom: 30px;
}
.title h3 a.add-new-template {
	font-size: 60%;
	font-weight: normal;
	margin-left: 20px;
}
.templates {
    overflow: hidden;
    border: 1px solid #ccc;
}
.items, .selected-item {
    min-height: 500px;
}
.items {
    border-right: 1px solid #ccc;
    width: 30%;
    float: left;
}
.items .item {
    padding: 7px 10px;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
    position: relative;
}
.items .item:hover {
    color: #428bca;
    background-color: #eee;
}
.items .item.selected {
	color: #428bca;
    background-color: #fff;
}
.items .item i.glyphicon {
	color: #428bca;
	font-size: 70%;
	vertical-align: baseline;
	position: absolute;
	top: 12px;
	right: 5px;
	display: none;
}
.items .item.selected i.glyphicon {
	display: block;
}
.selected-item {
    width: 70%;
    float: left;
    background-color: #fff;
    position: relative;
    padding: 15px;
}
.selected-item .item-preview {
	display: none;
	border: 0;
	background-color: white;
	border-radius: 0;
    white-space: pre;
    word-break: break-word;
}
.selected-item .button-holder {
    position: absolute;
    top: 10px;
    right: 10px;
}
.selected-item .button-holder button {
    border-radius: 0;
    margin-left: 10px;
}
.new-template {
	display: block;
	margin-bottom: 5px;
}
.add-template {
    padding: 15px;
    padding-bottom: 5px;
    display: none;
}
.add-template h4 {
	margin-top: 0;
	margin-bottom: 20px;
}
.add-template label.field {
    display: block;
    font-weight: normal;
    margin-bottom: 10px;
}
.add-template label.field > span:first-of-type {
    display: inline-block;
    width: 80px;
    vertical-align: top;
}
.add-template label.field > input[type="text"] {
    width: 300px;
}
.add-template textarea {
    width: 70%;
    height: 200px;
}
.add-template label.field > input[type="text"], 
.add-template textarea {
    border: 1px solid #bbb;
    padding: 3px 5px;
}
.add-template div#email_content {
    padding: 10px;
    background-color: #fff;
    border: 1px solid #bbb;
    width: 800px;
    outline: none;
    height: 200px;
    overflow: auto;
}
.add-template button {
	margin-right: 10px;
}
.add-template button#btnAddTemplate,
.add-template button#btnUpdateTemplate {
	display: none;
}
.add-template .content-holder {
    display: inline-block;
}
button.btn-success#btnBack {
    border-radius: 0;
}