a:hover, a:active, a:visited , a:focus {
    text-decoration: none;
}

#btnSaveEstimate {
	width: 175px;
}

select.winStyle {
	display: inline-block;
	height: 25px;
	padding: 2px 12px;
	width: 230px;
}

select.winService {
	display: inline-block;
	height: 25px;
	padding: 2px 12px;
	width: 250px;
}

.winServiceAdd {
	height: 25px;
	padding: 2px 12px;
}

.panel-title {
}

