div.container-full {
	padding: 0 15px;
	min-width: 1740px;
}
.heading > span, .clonedSection > * {
    /*outline: 1px solid blue;*/
}

h3 {
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	text-align: center;
}

h4 {
	font-size: 18px;
	font-weight: bold;
}

h5 {
	margin-top: 5px;
	margin-bottom: 5px;
}

.italic {
	font: normal;
	font-style: italic;
}

.right {
	float: right;
}

.bold {
	font-weight: bold;
}

.titleContainer {
}

.title {
	line-height: 34px;
}

.form-control {
	display: inline-block;
	width: 200px;
}

.input-mini {
//	width: 200px;
}

input.1form-control {
	height: 30px;
}

select.xform-control {
	height: 30px;
	padding: 6px 0px 6px 6px;
}

.estTitle {
	width: 60px;
	display: inline-block;
}

.estDate {
	margin-left: 15px;
	width: 200px;
	display: inline-block;
}

.descriptionBox {
	display: inline-block;
}

.well {
	margin-bottom: 10px;
}

div.clonedSection {
	padding: 10px;
}

div.clonedSection input {
	border: 1px solid #ccc;
	border-radius: 4px;
	line-height: 26px;
}

div.clonedSection select {
	border: 1px solid #ccc;
	border-radius: 4px;
	height: 30px;
}


.heading {
	padding-bottom: 8px;
	padding-left: 25px;
	position: relative;
}
.heading > span:not(:first-child) {
    padding-left: 8px;
}
.heading > span:not(:first-child),
.clonedSection > *:not(:first-child) {
    margin-right: 8px;
}
.clonedSection > .itemNum {
	margin-right: 0;
}

.itemNum {
	width: 40px;
	text-align: center;
	display: inline-block;
}
.room {
	width: 192px;
	display: inline-block;
}

.dir {
	width: 165px;
	display: inline-block;
}

.winNum {
	width: 40px;
	display: inline-block;
}

.style, select.winStyle {
	width: 155px;
	display: inline-block;
}

.titleService, select.service {
	width: 295px;
	display: inline-block;
}
select.service:disabled {
	background: rgb(235, 235, 228);
}

.titleBalancer, select.balancer {
	width: 180px;
	display: inline-block;
}

.titleDimension {
	padding-left: 0 !important;
    width: 100px;
    display: inline-block;
}
.dimension_column {
    display: inline-block;
    width: 100px;
}
.dimension_column span.sub {
    font-size: 80%;
    padding: 0 5px;
    color: #888;
}
.dimension_column > input {
    width: 35px;
    text-align: center;
}

.titleParts {
    width: 70px;
    display: inline-block;
}
.parts_column {
    display: inline-block;
    width: 70px;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 30px;
    vertical-align: bottom;
    line-height: 29px;
    padding-left: 7px;
    color: #333;
    font-size: 90%;
}

.titleStatus, select.status {
	width: 130px;
	display: inline-block;
}


.titlePrice {
	display: inline-block;
    width: 100px;
    text-align: right;
    padding-right: 8px;
    position: absolute;
    right: 128px;
}

.price {
	width: 100px;
	display: inline-block;
	text-align: right;
	float: right;
	margin-right: 3px;
}

.total {
	width: 100px;
	text-align: right;
	float: right;
	margin-right: 139px;
	padding: 0px;
	height: 30px;
	padding-right: 5px;
}

.lblTotal {
	text-align: right;
	float: right;
	padding-right: 5px;
}

.rowTotal {
	line-height: 30px; 
	height: 40px;
	margin: 0px;
	position: relative;
}

input[readonly] {
	background: rgb(235, 235, 228);
}

button#btnPrintEstimate {
	width: 125px;
}

button#saveEstimate {
	width: 125px;
}

button#btnShareEstimate, button#btnPrintEstimatePDF, button#btnBackToJob, button#btnShowAllParts, a#btnDisplayParts {
	width: 125px;
}


#shareWhite {
	display: inline-block;
}

.rt_buttons {
	float: right;
	width: 120px;
    text-align: right;
    margin-right: 0 !important;
}
button.expandItem, .addItem, .closeItem, .cloneItem {
	margin-left: 5px;
	width: 28px;
	height: 28px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 4px;
	padding-bottom: 3px;
}

button.addItem {
	float: right;
	width: 70px;
	margin-top: -6px;
}

div.subGroup {
	margin-left: 56px;
	margin-top: 10px;
	margin-right: 0 !important;
}

.description {
	width: 1340px;
	padding-left: 8px;
}

.servPrice {
	float: right;
    margin-right: 128px;
	text-align: right;
	width: 100px;
}

div.row3 {
	margin-top: 10px;
}

input.dim {
	text-align: center;
}

button.btn-radio {
	
}

div.row4 {
	margin-top: 10px;
	margin-bottom: 10px;
}

button.btnOption {
	margin-top: -2px;
	padding-top: 0px;
	padding-bottom: 0px;
	height: 29px;
}

.optionsPrice {
	margin-left: 10px;
	width: 60px;
	text-align: right;
}

.options {
	margin-left: 5px;
	width: 716px;
}

.optionDescription {
	height: 29px;
	border: 1px solid #ccc;
	border-right: 0px;
	background-color: #eee;
}

.optionPrice {
	width: 60px;
	height: 29px;
	text-align: right;
	border: 1px solid #ccc;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

.price, .servPrice, .optionsPrice {
	padding-right: 5px;
	vertical-align: bottom;
}

div.sashThick {
	display: inline-flex;
}

span.sashThick {
	width: 100px;
}

input.thickness {
	color: #000;
	background-color: #fff;
}

button.btnCopy {
	float: right;
	height: 29px;
	padding-top: 0px;
	padding-bottom: 0px;
}

#pdfContainer {
	padding: 0px;
}

#pdfModalBody {
	padding: 0px;
}

#pdfModal {
	width: 11.5in;
}
#pdfBox {
	margin: auto;
}
.status-line {
	margin-top: 10px;
	text-align: center;
}
.status-line > div.doing {
	color: #777;
	font-style: italic;
	padding: 5px;
	background-color: #ECE1C4;
}
.status-line > div.done {
	color: #333;
	font-style: normal;
	padding: 5px;
	background-color: #DDEAD0;
}
.status-line span.sub {
	color: #777;
	font-size: 90%;
}

.markupTemplate {
	display: none !important;
}

.newlyAddedSection {
	animation-direction: normal;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-name: newsectionhighlight;
    animation-timing-function: ease-in-out;
    
	-webkit-animation-direction: normal;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-name: newsectionhighlight;
    -webkit-animation-timing-function: ease-in-out;
    
    -moz-animation-direction: normal;
    -moz-animation-duration: 3s;
    -moz-animation-iteration-count: 1;
    -moz-animation-name: newsectionhighlight;
    -moz-animation-timing-function: ease-in-out;
}

@keyframes newsectionhighlight {
	0% { background-color: none; }
    50% { background-color: #C8DEE7; }
    100% { background-color: none; }
}
@-webkit-keyframes newsectionhighlight {
	0% { background-color: none; }
    50% { background-color: #C8DEE7; }
    100% { background-color: none; }
}
@-moz-keyframes newsectionhighlight {
	0% { background-color: none; }
    50% { background-color: #C8DEE7; }
    100% { background-color: none; }
}

.estimate-drag-handle {
	display: inline-block;
	color: #aaa;
	cursor: move;
	width: 14px;
}
div.clonedSection input.itemNum {
	border: 0;
	background-color: transparent;
	text-align: center;
}

/* email form */
.email-header, #emailBox, .email-footer {
	display: none;
}
div#emailBox {
    padding: 15px;
}
div#emailBox label.field {
    display: block;
    font-weight: normal;
    margin-bottom: 10px;
}
div#emailBox label.field > span:first-of-type {
    display: inline-block;
    width: 100px;
}
div#emailBox label.field > input[type="text"] {
    width: 300px;
}
div#emailBox textarea {
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
}
div#emailBox div#email_content {
	background-color: #fff;
	border-radius: 0;
	border: 1px solid #bbb;
	height: 200px;
	margin-bottom: 10px;
	font-family: sans-serif;
	outline: none;
	padding: 10px;
	overflow: auto;
}
div#emailBox label.field > input[type="text"], 
div#emailBox textarea {
    border: 1px solid #bbb;
    padding: 3px 5px;
}
div#emailBox span.file-label {
	background-image: url(/img/pdf_icon.gif);
	background-size: 16px;
	background-repeat: no-repeat;
	padding-left: 20px;
	color: rgb(77, 135, 157);
}
div#emailBox .select-holder {
	border: 1px solid #bbb;
	display: inline-block;
	margin-right: 15px;
}
div#emailBox .select-holder.disabled {
	background-color: #ddd;
	color: #444;
}
div#emailBox .select-holder select {
	background-color: #fff;
	height: 25px;
	width: 298px;
	border: 0;
}
div#emailBox .select-holder select[disabled] {
	background-color: #ddd;
	color: #444;
}
div#emailBox label.field > a {
	margin-right: 10px;
	font-size: 85%;
}

iframe[name=printIFrame] {
	display: none;
}


.well.well-small.sold-no-edits {
	color: rgb(38, 127, 160);
	text-align: center;
	font-size: 120%;
	font-weight: 300;
}

.back-to-job-button {
	margin-top: 10px;
}


/* remove Win# from view */
.winNum {
	display: none !important;
}

.subGroup fieldset.custom-fieldset {
    border: 1px solid #ccc;
    display: block;
    margin: 0;
    padding: 10px;
    width: 1002px;
    margin-left: 15px;
    border-radius: 4px;
}
.subGroup fieldset.custom-fieldset legend {
    border-width: 0;
    display: inline-block;
    width: auto;
    padding: 0 6px;
    font-size: 15px;
    font-weight: bold;
    margin: 0;
}
.subGroup select.option-chooser {
	width: 819px;
	background-color: #fff;
}
.subGroup button.btn-add-option, .subGroup button.btn-remove-option {
	display: inline-block;
	margin-left: 5px;
	vertical-align: top;
	height: 28px;
	margin-top: 1px;
	width: 28px;
	padding-left: 0;
	padding-right: 0;
	text-align: center;
}
.subGroup span.none {
    background-color: #ddd;
    padding: 0 10px;
    display: block;
    border-radius: 4px;
    color: #777;
    width: 819px;
	height: 30px;
	line-height: 30px;
}

.subGroup .service-options {
	border-bottom: 1px solid #ccc;
	margin: 0 -10px;
	padding: 0 10px;
	margin-bottom: 10px;
	padding-bottom: 10px;
}
.subGroup .service-options .service-option-line:not(:first-of-type) {
	margin-top: 6px;
}
.subGroup .service-options span.option-name {
	border: 1px solid #ccc;
	border-radius: 4px;
	line-height: 28px;
	width: 819px;
	display: inline-block;
	padding: 0 8px;
}
.subGroup .service-options .option-price {
	border: 1px solid #ccc;
	border-radius: 4px;
	line-height: 26px;
	display: inline-block;
	margin-left: 10px;
	width: 60px;
	text-align: right;
	padding-right: 5px;
}
.new-service-option input.option-price, .new-service-option button.btn-add-option {
	display: none;
}
span.note {
	color: #aaa;
	font-size: 90%;
	padding-left: 10px;
	font-style: italic;
}
#btnResetDeposit {
	display: none;
	position: absolute;
	right: 108px;
	padding: 0;
	width: 24px;
	height: 24px;
	top: 3px;
}
.estimate-notes {
	position: absolute;
	width: 1069px;
	height: 90px;
	border-radius: 4px;
	border: 1px solid #ddd;
	padding: 8px;
  	line-height: 1;
  	resize: none;
}
.btn-add-part-option {
	margin-left: 5px;
}
.part-option {
	display: inline-block;
    padding: 2px 5px;
    margin-left: 5px;
    background-color: #ddd;
    position: relative;
    padding-right: 30px;
}
.part-option button {
	border: 0;
    padding: 0 2px;
    background-color: transparent;
}
.part-option .btn-part-option-name:after {
	content: ': ';
}
.remove-part-option {
    color: #A50000;
    cursor: pointer;
    position: absolute;
    right: 5px;
    top: 5px;
}
.part-name {
	min-width: 150px;
    display: inline-block;
}

.view-item-parts-link {
	float: right;
	margin-right: 8px;
	font-size: 90%;
}
#partsModalBody table {
    width: 100%;
    font-weight: normal;
    font-weight: 300;
}
#partsModalBody table b {
    font-weight: bold;
    font-weight: 500;
}
#partsModalBody table th {
    background-color: #ddd;
    color: #222;
    font-weight: normal;
    font-weight: 300;
}
#partsModalBody table th,
#partsModalBody table td {
    border: 1px solid #ccc;
    padding: 6px 8px;
}

#modalPartOptionValue .modal-dialog {
	width: 400px;
}
#modalPartOptionValue ul.choosable-options {
    list-style-type: none;
    padding: 0;
    border: 1px solid #ccc;
    margin-top: 10px
}
#modalPartOptionValue ul.choosable-options li {
    padding: 4px;
    cursor: pointer;
}
#modalPartOptionValue ul.choosable-options li.default {
	background-color: #D9EBFB;
	position: relative;
}
#modalPartOptionValue ul.choosable-options li.default:after {
	content: " (default)";
	color: #aaa;
}
#modalPartOptionValue ul.choosable-options li:not(:last-child) {
    border-bottom: 1px solid #ccc;
}
#modalPartOptionValue ul.choosable-options li:hover {
    background-color: #eee;
    color: #000;
    text-decoration: underline;
}

/* ability to manually add parts for each line item */
#modalParts .modal-dialog {
	width: 700px !important;
}
#modalParts .modal-title {
	position: relative;
}
#modalParts .show-all-parts,
#modalParts .rhs-buttons {
	position: absolute;
	right: 0;
	bottom: 0;
}
#modalParts .rhs-buttons > a {
	margin-left: 8px;
}
table.parts-table tr.new-part-row {
	background-color: #DCEAF7;
}
table.parts-table tr.new-part-row label {
	margin-right: 8px;
	vertical-align: bottom;
}
table.parts-table tr.new-part-row label span {
    display: block;
    font-weight: normal;
    font-size: 90%;
	padding-left: 2px;
}
table.parts-table tr.new-part-row label select {
    width: 120px
}
table.parts-table tr.new-part-row label select.qty {
	width: 40px;
}
table.parts-table tr:not(.new-part-row) td {
    font-size: 95%;
}
