.dropzone {
	border: 1px dotted #555;
	padding: 25px;
	border-radius: 5px;
	margin-top: 10px;
	color: #777;
	text-align: center;
	background-color: aliceblue;
}
.dropzone .file-browser {
	position: relative;
	cursor: pointer;
}
.dropzone .file-browser * {
	cursor: pointer;
	color: blue;
}
.dropzone .file-browser > input[type="file"] {
	position: absolute;
	top: 0;
	left: 0;
	cursor: pointer;
}
.dropzone .file-browser > input[type="file"] {
	opacity: 0;
}
.images ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.images ul li {
    float: left;
    max-width: 25%;
    margin-right: 10px;
    position: relative;
    border: 1px solid #ccc;
	padding: 5px;
	background-color: #fff;
}
.images ul li img {
    width: 100%;
    cursor: pointer;
}
.images ul li img:hover {
    background-color: #ddd;
}
.images ul li .delete-image {
	position: absolute;
	top: 5px;
	right: 5px;
	padding: 8px;
	background-color: #eee;
	cursor: pointer;
	color: #a00;
	text-decoration: none;
	display: none;
}
.images ul li .delete-image:hover {
	background-color: #a00;
	color: #fff;
}
.images ul li:hover .delete-image {
	display: block;
}

.images ul.files {
    margin-top: 10px;
    background: #fff;
    border: 1px solid #ccc;
    padding: 5px;
}
.images ul.files li {
    background: transparent;
    border: 0;
    padding: 5px;
    float: none;
    margin: 5px;
    max-width: 100%;
    width: auto;
}
.images ul.files li i {
	color: #68A2D5;
	margin-right: 5px;
}
.images ul.files li .delete-image {
	position: static;
	display: inline;
	padding: 0;
	margin-left: 15px;
	background: transparent;
	font-size: 90%;
}
.images ul li .delete-image:hover {
	background: transparent;
	color: #a00;
	text-decoration: underline;
}
.images ul.files li:hover .delete-image {
	display: inline;
}
.noimages {
	display: block;
	padding: 15px 0;
	color: #aaa;
}

.images ul li a.rotate-link {
    position: absolute;
    padding: 5px;
    background-color: #fff;
    border: 1px solid #428bca;
    display: none;
    top: 5px;
    cursor: pointer;
}
.images ul li:hover a.rotate-link {
	display: block;
}
.images ul li:hover a.rotate-link:hover {
	color: #fff;
    background-color: #428bca;
}
.images ul li a.rotate-link.rotate-left {
    left: 5px;
}
.images ul li a.rotate-link.rotate-right {
    left: 35px;
}

a.uploaded-image img.rotate90 {
	transform: rotate(90deg) ;
	-webkit-transform: rotate(90deg) ;
	-moz-transform: rotate(90deg) ;
	-o-transform: rotate(90deg) ;
	-ms-transform: rotate(90deg) ;
}
a.uploaded-image img.rotate180 {
	transform: rotate(180deg) ;
	-webkit-transform: rotate(180deg) ;
	-moz-transform: rotate(180deg) ;
	-o-transform: rotate(180deg) ;
	-ms-transform: rotate(180deg) ;
}
a.uploaded-image img.rotate270 {
	transform: rotate(270deg) ;
	-webkit-transform: rotate(270deg) ;
	-moz-transform: rotate(270deg) ;
	-o-transform: rotate(270deg) ;
	-ms-transform: rotate(270deg) ;
}
a.uploaded-image img.rotate-90 {
	transform: rotate(-90deg) ;
	-webkit-transform: rotate(-90deg) ;
	-moz-transform: rotate(-90deg) ;
	-o-transform: rotate(-90deg) ;
	-ms-transform: rotate(-90deg) ;
}
a.uploaded-image img.rotate-180 {
	transform: rotate(-180deg) ;
	-webkit-transform: rotate(-180deg) ;
	-moz-transform: rotate(-180deg) ;
	-o-transform: rotate(-180deg) ;
	-ms-transform: rotate(-180deg) ;
}
a.uploaded-image img.rotate-270 {
	transform: rotate(-270deg) ;
	-webkit-transform: rotate(-270deg) ;
	-moz-transform: rotate(-270deg) ;
	-o-transform: rotate(-270deg) ;
	-ms-transform: rotate(-270deg) ;
}

/* upload progress indicator */
.temp-files {
	margin-top: 10px;
	padding: 15px;
	background-color: #FAF1E0;
	border: 1px solid #ccc;
	display: none;
}
/*.temp-files {
	padding: 15px 15px;
	border-radius: 3px;
	background-color: #fff;
	box-shadow:  0px 1px 2px 0px rgba(0, 0, 0, .2);
}*/
.temp-files progress {
	background-color: #f3f3f3;
	border: 0;
	width: 200px;
	height: 12px;
	border-radius: 0;
	margin: 0 15px;
}
.temp-files progress::-webkit-progress-bar {
	background-color: #f3f3f3;
	border-radius: 9px;
}
.temp-files progress::-webkit-progress-value {
	background: #cdeb8e;
	background: -moz-linear-gradient(top,  #cdeb8e 0%, #a5c956 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cdeb8e), color-stop(100%,#a5c956));
	background: -webkit-linear-gradient(top,  #cdeb8e 0%,#a5c956 100%);
	background: -o-linear-gradient(top,  #cdeb8e 0%,#a5c956 100%);
	background: -ms-linear-gradient(top,  #cdeb8e 0%,#a5c956 100%);
	background: linear-gradient(to bottom,  #cdeb8e 0%,#a5c956 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cdeb8e', endColorstr='#a5c956',GradientType=0 );
	border-radius: 9px;
}
.temp-files progress::-moz-progress-bar {
	background: #cdeb8e;
	background: -moz-linear-gradient(top,  #cdeb8e 0%, #a5c956 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cdeb8e), color-stop(100%,#a5c956));
	background: -webkit-linear-gradient(top,  #cdeb8e 0%,#a5c956 100%);
	background: -o-linear-gradient(top,  #cdeb8e 0%,#a5c956 100%);
	background: -ms-linear-gradient(top,  #cdeb8e 0%,#a5c956 100%);
	background: linear-gradient(to bottom,  #cdeb8e 0%,#a5c956 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cdeb8e', endColorstr='#a5c956',GradientType=0 );
	border-radius: 9px;
}