div.wellNotes p {
	line-height: 15px;
	font-size: 12px;
}

.form-inline .input-small  {
	margin-bottom: 0px;
}

input#billing_state {
	width: 60px;
}

input#billing_zip{
	width: 85px;
}

div#divBillDetail {
	margin-top: 10px;
	overflow: hidden;
	height: auto;
}
#jobLabel {
	display: inline-block;
	text-decoration: none;
}

textarea#newNote {
	width: 100%;
}

div#wellSource {
	Width: 97%;
	margin-bottom: 10px;
}

td#date, td.estDate {
	width: 170px;
	vertical-align: middle !important; 
}

td#estDescription, td.estDescription {
	width: 160px;
}

td#estButtons, td.estButtons {
	vertical-align: middle !important;
	padding: 4px !important;
	text-align: right;
}

a.btnEst {
	min-width: 75px;
	max-width: 160px;
	height: 30px;
	padding: 4px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-align: left;
}

.btn-sm, .btn-group-sm > .btn {
	padding: 2px 5px;
}

tr.sold td {
	background-color: #C5ECC5 !important;
}

button.resetSoldEst {
	color: #A93232;
}
button.soldEst.sold {
	opacity: 0.3;
}

div.events {
	width: 540px;
}

td.idField {
	width: 80px;
}

a.eventID {
	padding: 0 15px;
}

td#eventType {
	width: 100px;
}

td#calendarName {
	width: 75px;
}

.eventStart {
	width: 160px;
}

td.printEvent {
	width: 75px;
}

button.btnPrintEvent {
	padding: 0 10px;
	line-height: 21px;
}

label.line-label {
    display: block;
    padding: 5px;
    margin-left: 10px;
    font-weight: normal;
    cursor: pointer;
}
label.line-label.disabled {
	color: #aaa;
}
label.line-label input[type="checkbox"] {
    margin-right: 5px;
    vertical-align: baseline;
}
label.line-label span.sub-note {
	color: #888;
	margin-left: 10px;
	font-size: 90%;
	font-style: italic;
}

label.show-system-notes {
	display: block;
	font-size: 80%;
	font-weight: normal;
	margin-left: 15px;
	margin: 20px 0;
	cursor: pointer;
}

a.btn-assign-techs {
	display: block;
	max-width: 100px;
	padding: 3px;
	margin: 6px 25px;
}

.btn-quick-add-estimate {
	float: right;
    /*position: absolute;
	top: 7px;
	right: 10px;*/

}

a[title="Parts List"].btn-quick-add-estimate {
	margin-right: 15px;
}
.sources {
    margin-top: 10px;
}
.normalmargins {
	margin: 0 !important;
}
.leftcolumn {
	padding-left: 0;
	padding-right: 5px;
}
.middlecolumn {
	padding-left: 5px;
	padding-right: 5px;
}
.rightcolumn {
	padding-left: 5px;
	padding-right: 0;
}

div.container-full {
    padding: 0 15px;
    min-width: 1640px;
}
div#parts-lists {
    line-height: 1.3;
}


/* new layout of job detail page */
.cells-outer {
	overflow: hidden;
}
.cells-outer h3 {
	margin-top: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    text-align: center;
}
.cells {
	overflow: hidden;
}
.cells.left {
    width: 1342px;
    float: left;
} 
.cell {
    float: left;
    border: 1px outset #ddd;
    padding: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: #fff;
	border-radius: 5px;
}
.cells.left .cell {
	min-height: 180px;
}
.source-cell {
	width: 180px;
	line-height: 28px;
}
.status-cell {
//	width: 263px !important;
	font-size: 90%;
    white-space: nowrap;
}
.events-cell {
    width: 660px;
    height: 250px;
    overflow-y: auto;
    position: relative;
}
.files-cell {
	width: 1330px;
	min-height: 0 !important;
}
.cell h4 {
    margin-top: 0px;
}
.cell .form-control {
    margin-bottom: 8px;
}
.cell:not(.non-standard) .form-control, .cell:not(.non-standard) .btn {
	width: 150px !important;
}
.cell:not(.non-standard) .form-control.input-wide {
	width: 304px !important;
}
.cell .form-control:not(.not-last):last-of-type {
    margin-bottom: 0px;
}
.cell .form-control.wide {
    width: 100% !important;
}
.cell label.line-label {
	margin-left: 0;
	padding-left: 0;
	padding-bottom: 0;
}
.cells.right .cell {
	width: 100%;
}
.notes-cell {
	height: 400px;
	overflow-y: auto;
}
.notes-cell label.show-system-notes {
	display: inline-block;
	margin: 0;
	vertical-align: middle;
	float: right;
}
.buttons-cell {
    background: transparent;
    border: 0;
    text-align: center;
    padding: 30px 0;
}
.btn-schedule-appointment {
    position: absolute;
	top: 7px;
	right: 10px;
}
button#btnOpenMap {
	float: right;
	width: 85px !important;
}
.lead-source-label {
	display: inline-block;
	width: 41%;
    white-space: nowrap;
    overflow: visible;
    font-weight: normal;
}
.lead-source-label input[type=checkbox] {
    margin: 0;
    margin-right: 5px;
    vertical-align: middle;
}
input#zip, input#billing_zip {
	width: 75px !important;
	margin-bottom: 8px;
}
input#built {
	width: 85px !important;
	margin-bottom: 0px;
}
input#billing_state {
	width: 65px !important;
}
input#job_address, input#billing_address {
	width: 238px !important;
}
input#job_city, input#billing_city {
	width: 150px !important;
}
input#l_name {
	width: 175px !important;
}
input#email {
	width: 200px !important;
}
input#f_name {
	width: 125px !important;
}
span#mailToSpan {
	width: 90px !important;
	float: right;
}
input#phone, input#phone2 {
	width: 140px !important;
}
a#btn_archive {
	float: right;
	width: 90px !important;
}
a#btn_printLabel {
	float: left;
	width: 90px !important;
}

p.note-item {
    font-family: monospace;
    font-size: 13px;
    line-height: 100%;
    background: #eee;
    padding: 8px;
}