body {
	padding-top: 0px;
}

div.mapContainer  {
	width: 100%;
}

.custMap {
	width: 100%;
	height: 1000px;
}

.gmnoprint img {
    max-width: none; 
}

img[src^="http://maps.gstatic.com/"], /* map view */
img[src^="http://maps.googleapis.com/"] /* street view */
{
    max-width: none;
}

div.custmap-filters {
	position: fixed;
	bottom: 4px;
	margin-left: 6px;
}
div.custmap-filters > div {
	padding: 10px;
	background-color: #fff;
	border: 1px solid #ddd;
	float:left;
	margin-right: 10px;
}
div.custmap-filters > div > select {
	margin-left: 10px;
}

div.standby-date {
	margin-top: -5px;
	margin-bottom: 10px;
	color: #777;
	font-size: 95%;
}

ul.job-status-legend {
    position: fixed;
    bottom:50px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    left: 6px;
    background-color: #fff;
    padding: 10px;
    font-size: 12px;
    border: 1px solid #ddd;
    padding-bottom: 0;
}

ul.job-status-legend li.head {
	font-size: 13px;
	padding-bottom: 7px;
}

ul.job-status-legend li label {
	font-weight: normal;
}

ul.job-status-legend span.legend {
    display: inline-block;
    width: 16px;
	height: 10px;
	margin: 0 6px;
	border: 1px solid #ccc;
}

ul.job-status-legend span.legend.lead-created { background-color: #ffffff; }
ul.job-status-legend span.legend.lead-scheduled { background-color: #ddffdd; }
ul.job-status-legend span.legend.quote-created { background-color: #ddddff; }
ul.job-status-legend span.legend.job-scheduled { background-color: #ffa500; }
ul.job-status-legend span.legend.job-complete { background-color: #aaeeaa; }
ul.job-status-legend span.legend.on-standby { 
	background: #f4726d;
	background: -moz-linear-gradient(left,  #f4726d 0%, #56302f 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#f4726d), color-stop(100%,#56302f));
	background: -webkit-linear-gradient(left,  #f4726d 0%,#56302f 100%);
	background: -o-linear-gradient(left,  #f4726d 0%,#56302f 100%);
	background: -ms-linear-gradient(left,  #f4726d 0%,#56302f 100%);
	background: linear-gradient(to right,  #f4726d 0%,#56302f 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4726d', endColorstr='#56302f',GradientType=1 );
}
