div.layout {
	display: inline-block;
	height: 850px;
}
div.left {
	float: left;
	left: 0px;
	clear: both;
}

div.right {
	float: right;
	right: 0px;
	clear: both;
}

div#mainCtn {
	width: 60%;
	height: 875px;
	padding: 0px;
	position: absolute;
}

div#contacts {
	width: 20%;
	padding: 0px;
	margin-left: 10px;
	margin-top: 10px;
	border-top-right-radius: 0px;
}

div[id^="contact"] {
	margin-left: 10px;
	margin-bottom: 15px;
	background-color: #eee;
	padding: 0px;
}

h4#contactTitle {
	display: none;
	line-height: 60px;
	text-align: left;
	vertical-align: middle;
	margin: 0px;
	float: left;
	font-family: helvetica;
	font-size: 18px;
	font-style: italic;
	font-weight: bold;
}

div.head {
	border-bottom: 1px solid #e3e3e3;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 10px; 
}

div#contactHead {
	width: 226px;
	text-align: center;
	height: 60px;
}

div#threadHead {
	text-align: left;
	display: inline-block;
	float: left;
	width: 100%;
}

input#inputNewNum {
	width: 130px;
	margin-top: 13px;
	margin-bottom: 13px;
}

button#btnNewNum {
	width: auto;
	margin-top: 13px;
	margin-bottom: 13px;
}

div#threadWell {
	margin-top: 10px;
	margin-left: 0px;
	padding: 0px;
	position: absolute;
	width: 78%;
	border-top-left-radius: 0px;
}

div#threadDiv {
	padding: 0px;
	overflow:scroll;
	width: 100%;
	display: block;
	position: relative;
	max-width: 100%;
	max-height: 775px;
    overflow-x: hidden;
}

div.threadMsg {
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 10px;
	margin-top: 0px;
	width: auto;
	min-width: 1%;
	max-width: 60%;
	background-color: #eee;
	padding: 10px;
	border-radius: 10px;
	background-color: #7e234c;
	color: #ffffff;
	display: block;
	overflow: hidden;
	clear: both;
}

div.newMsg {
	height: 34px;
	display: inline;
}

div.threadMsgDateTime {
	margin-top: 10px;
	line-height: 25px;
	display: block;
	height: 25px;
	width: 100%;
	overflow: hidden;
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
	font-size: 12;
	font-style: italic;
}

div.dateLeft {
	text-align: left;
}

div.dateRight {
	text-align: right;
}

div.clear {
	clear: both;
	display: table;
}

hr.msg {
	margin: 0px;
	padding: 10px;
	border-color: #f5f5f5;
	display: block;
	height: 2px;
	width: 100%;
	border-top: 1px solid red;
	float: none;
	clear: both;
}

div.divider {
	margin: 0px;
	padding: 10px;
	border-color: #f5f5f5;
	display: block;
	height: 2px;
	width: 100%;
	border-top: 1px solid red;
	clear: both;
	overflow: hidden;
}

button#btnNewContact {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-top: 13px;
	margin-bottom: 13px;
}

button#btnSend {
	float: right;
	margin-top: 13px;
	margin-bottom: 13px;
}

textarea#inputMsg {
	float: right;
	margin-right: 10px;
	width: 450px;
	height: 60px;
	border-radius: 0px;
} 