button.btn:focus, button.btn:active:focus, 
button.btn.active:focus {
	outline: none;
}

input.btn:focus, input.btn:active:focus, 
input.btn.active:focus {
	outline: none;
}

div#mapContainer {
	/*width: 1120px;*/
	padding: 0;
}

#mapLink {
	/*margin-left: 25px;
	margin-right: 50px;
	vertical-align:middle;
	float:left;*/
}

ul.pull-left {
	height:5px;
	/*width: 300px;*/
	margin: 0px;
	padding: 0px;
}

ul.pull-left > li > span.navbar-btn {
	padding: 4px 8px;
	padding-right: 6px;
	font-size: 90%;
	margin-top: 10px;
	margin-right: 20px;
}

ul.pull-right {
	height:40px;
	/*width: 200px;*/
	margin: 0px 0px 0px 0px;
	padding: 0px;
}

ul.nav-middle {
	width: 450px;
	margin: 0px;
	padding: 0px;
}

ul > li.gear {
	float: right;
	margin-top: 5px;
}

ul > li > a.gear {
	width: 35px;
	padding-left: 0px;
	padding-right: 0px;
}

li.nav-search {
	margin-left: 30px;
	border: 0;
}
li.nav-search input[type="text"] {
	margin: 8px 0;
	width:200px;
	float:left;
}
li.nav-search span {
	margin: 7px;
}

ul.nav-middle .search-btn {
	margin-top: 2px;
	margin-left: -5px;
	margin-bottom: 5px;
	padding-top: 6px;
	padding-bottom: 8px;
	font-size: 16px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	height: 34px;
}

li.navbar-text {
	line-height: 20px;
}

span.nav-glyph {
	left:-4px;
	padding-right: 5px;
}
span.nav-glyph.orange {
	color: #EA7514;
}
span.nav-glyph.green {
	color: green;
}
span.nav-glyph.red {
	color: #CA6767;
}
span.nav-glyph.blue {
	color: #3C7B8E;
}
span.nav-glyph.gray {
	color: gray;
}

i.navCog {
	margin-top: 3px;
	padding-left: 4px;
	font-size: 18px;
}

.nav .dropdown:hover {
	background-color: #000;
}
.nav .dropdown:hover > a {
	color: #fff;	
}
.nav .dropdown:hover .dropdown-menu {
    display: block;
}

.navbar-nav > li:first-child > a {
    padding-left: 0;
}
div.env-label {
	position: absolute;
	top: 0;
	left: 0;
	padding: 2px;
	color: transparent;
	background-color: transparent;
	font-size: 70%;
}
div.env-label:hover {
	color: #222;
	background-color: #aaa;
}

/* misc bootstrap overrides */
.navbar-collapse {
	border-top: 0 !important;
}
.navbar-nav>li {
    float: left !important;
}
.navbar-nav.pull-right>li {
	float: right !important;
}
.navbar-nav>li>a {
    padding-top: 15px !important;;
    padding-bottom: 15px !important;;
}
.navbar-form {
    width: auto;
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 0;
    margin-left: 0;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.navbar-form.loggedin {
	min-width: 1140px;
}