.title h3 {
	margin-top: 0;
	margin-bottom: 10px;
}
.title .sub {
	font-size: 70%;
	color: #777;
	font-weight: normal;
	padding-left: 12px;
}
.hline {
	border-color: #ccc;
	margin: 10px 0;
}
#notifications.success {
	background-color: #C8ECCA;
}
table.parts {
	min-width: 80%;
	max-width: 100%;
}
table.parts tr {
	background-color: #fff;
}
table.parts tbody tr:hover {
	background-color: #EBF2F9;
}
table.parts tr td {
    border: 1px solid #aaa;
    padding: 3px 5px;
    vertical-align: top;
}
table.parts thead tr td {
	font-weight: bold;
}
table.parts thead tr td:first-child {
	font-weight: normal;
}
table.parts tr td:first-child,
table.parts tr td:nth-child(2) {
    width: 1cm;
    text-align: center;
}
table.parts tr td:nth-child(3) {
	width: 2cm;
    text-align: center;	
}
table.parts tr td:nth-child(4) {
	width: 4cm;
}
table.parts input.qty-chooser {
	text-align: center;
    width: 100%;
	border-width: 1px;
	border-color: transparent;
	margin: 0;
	padding: 0;
	height: 20px;
}
table.parts input[type=number]:hover {
	border-width: 1px;
	border-color: #888;
}
table.parts tr td label {
	display: block;
	font-weight: normal;
	font-size: 12px;
	margin-bottom: 3px;
	padding: 2px;
	position: relative;
	border: 1px solid transparent;
}
table.parts tr td div.custom-option {
	position: relative;
	/*height: 22px;*/
}
table.parts tr td div.custom-option i.remove-option {
	color: #A24040;
    position: absolute;
    height: 16px;
    top: 3px;
    right: 3px;
    cursor: pointer;
    display: none;
}
table.parts tr td div.custom-option:not(.new-option-holder):hover i.remove-option {
	display: block;
}
table.parts tr td div.custom-option button {
	background-color: transparent;
}
table.parts tr td div.custom-option button:hover {
	background-color: transparent;
	text-decoration: underline;
}
table.parts tr td label:hover,
table.parts tr td div.custom-option:not(.new-option-holder):hover {
    /*background-color: #BCD9FF;*/
}

table.parts tr td div.custom-option span.option-name:after {
	content: ':';
}
table.parts tr td div.custom-option span.option-value {
	font-weight: bold;
	margin-left: 6px;
}

table.parts tr td label.custom-option {
	background-color: #fff;
    padding: 0;
    border: 0;
}
table.parts tr td label input[type=checkbox] {
	margin: 0;
	padding: 0;
	margin-right: 4px;
}
table.parts tr td a.delete {
	color: #A00;
	cursor: pointer;
}
table.parts div.custom-option:not(.new-option-holder) button.btn-add-option:after {
	content: ': ';
}
table.parts button.btn.chosen {
    border: 0;
    padding: 0 2px;
}
.dropdown-menu {
    padding: 0;
	border-radius: 0;
	margin-top: 0;
}
.dropdown-menu li a {
    padding: 3px 10px;
    cursor: pointer;
}
.dropdown-menu li a:hover {
	background-color: #777;
	color: #fff;
}
.dropdown-menu .divider {
	margin: 0;
}
.dropdown-toggle {
	border-radius: 0;
	font-size: 12px;
}

.status-outer {
    padding: 12px 15px;
	background-color: aliceblue;
    border: 1px solid #ddd;
    width: 80%;
    margin: 10px 0;
}
.status-outer.finalized {
	border-color: #1CD452;
}
.status-outer label {
	margin: 0;
	margin-left: 10px;
	font-weight: normal;
}
.status-outer label input[type=radio] {
	margin: 0;
	vertical-align: text-top;
}

@media print {
	@page { size : portrait }
	body {
		padding: 1cm !important;
		margin: 0 !important;
	}
	body > *,
	body > #mapContainer .hline,
	body > #mapContainer table.parts tr.noprint,
	body > #mapContainer table.parts td:last-child,
	body > #mapContainer table.parts .option-chooser,
	body > #mapContainer table.parts .new-option-holder,
	body > #mapContainer .buttons,
	body > #mapContainer .status-outer {
		display: none;
	}
	body > #mapContainer table.parts {
		margin-top: 10px;
	}
	body > #mapContainer {
		display: block;
	}
	body > #mapContainer .well {
		background-color: #fff !important;
		box-shadow: none;
		border: 0;
		padding: 0;
	}
	body > #mapContainer table.parts {
		margin: 18px 0;
	}
	a[href]:after {
		content: none !important;
	}
}