.title h3 {
	margin-top: 0;
	margin-bottom: 10px;
}
.title .sub {
	font-size: 70%;
	color: #777;
	font-weight: normal;
	padding-left: 12px;
}
.hline {
	border-color: #ccc;
	margin: 10px 0;
}
#notifications.success {
	background-color: #C8ECCA;
}
table.parts {
	min-width: 80%;
	max-width: 100%;
}
table.parts tr td {
    border: 1px solid #aaa;
    background-color: #fff;
    padding: 3px 5px;
    vertical-align: top;
}
table.parts thead tr td {
	font-weight: bold;
}
table.parts thead tr td:first-child {
	font-weight: normal;
}
table.parts tr td:first-child,
table.parts tr td:last-child,
table.parts tr td:nth-child(2) {
    width: 1cm;
    text-align: center;
}
table.parts tr td:nth-child(5),
table.parts tr td:nth-child(6),
table.parts tr td:nth-child(7) {
	text-align: right;
}
table.parts input[type=number] {
	text-align: right;
	width: 50px;
	border-width: 1px;
	border-color: transparent;
	margin: 0;
	padding: 0;
	height: 20px;
}
table.parts input[type=number]:hover {
	border-width: 1px;
	border-color: #888;
}
table.parts tr td label {
	display: block;
	font-weight: normal;
	font-size: 90%;
	margin-top: 2px;
	margin-bottom: 0;
}
table.parts tr td label input[type=checkbox] {
	margin: 0;
	padding: 0;
	margin-right: 4px;
}
table.parts tr td a.delete {
	color: #A00;
	cursor: pointer;
}
table.parts .dropdown-menu {
    padding: 0;
	border-radius: 0;
	margin-top: 0;
}
table.parts .dropdown-menu li a {
    padding: 3px 10px;
    cursor: pointer;
}
table.parts .dropdown-menu li a:hover {
	background-color: #777;
	color: #fff;
}
table.parts .btn-add-part {
	min-width: 100px;
	border-radius: 0;
}

@media print {
	@page { size : portrait }
	body {
		padding: 1cm !important;
		margin: 0 !important;
	}
	body > *,
	body > #mapContainer .hline,
	body > #mapContainer table.parts tr.noprint,
	body > #mapContainer table.parts td:last-child,
	body > #mapContainer table.parts .option-label:not(.selected),
	body > #mapContainer table.parts .option-chooser,
	body > #mapContainer .buttons {
		display: none;
	}
	body > #mapContainer {
		display: block;
	}
	body > #mapContainer .well {
		background-color: #fff !important;
		box-shadow: none;
		border: 0;
		padding: 0;
	}
	body > #mapContainer table.parts {
		margin: 18px 0;
	}
	a[href]:after {
		content: none !important;
	}
}