*/*Set's border, padding and margin to 0 for all values*/
{
    padding: 0;
    margin: 0;
/*    border: 0; */
}
body, html {
    color: #000;
    font-family: Verdana,Arial, Helvetica, sans-serif;
    background-color: #fff;
}

p {
    padding: 7px 0 7px 0;
    font-weight: 500;
    font-size: 10pt;
}
a {
    color: #656565;
    text-decoration:none;
}
h1 {
	text-align: center;
    font-weight:200;
    color: #000;
    font-size:16pt;
    padding-left:33px;
}
h4 {
	display: inline-block;
    padding:1px;
    color: #000;
    font-size:14pt;
    font-weight:100;
    text-transform:uppercase;
	margin-bottom: 15px;
}
hr {
	width: 100%;
	display: inline-block;
}
img.checkImg {

	vertical-align: middle;
}
span.checkLabel {
	width: 75px;
	display: inline-block;
	vertical-align: baseline;
}
span.otherLabel {
	width: 90px;
	display: inline-block;
}
div.infobox {
	height: 600px;
	width: 760px;
	margin-top: 15px;
	margin-left: auto;
	margin-right: auto;
	font-size: 10pt;
}
div.register{
    width:815px;
    margin: 0px auto 0px auto;
    height:1056px;
    background-color:#fff; 
	page-break-inside: avoid;
}
div.register div.row1
{
    width:815px;
	height: 50px;
	margin-top: 25px;
}
div.register div.rowx
{
    width:100%;
	height: 36px;
    margin-bottom:10px;
	display: inline-block;
}
div.register div.row1 label{
    width:150px;
    float: left;
    text-align: right;
}
#label1 {
	margin-left: 410px;
}

#label2 {
	margin-left: 20px;
}
#built {
	width: 93px;
}
#otherText {
	width: 200px;
	margin-left: 5px;
	margin-right: 25px;
}

#phoneLabel {
	margin-left: 53px;
	text-align: right;
	vertical-align: middle;
}
#altPhone {
	width: 150px;
}
#altPhoneLabel {
	margin-left: 73px;
	text-align: right;
	vertical-align: middle;
}
#emailLabel {
	margin-left: 105px;
	text-align: right;
	vertical-align: middle;
}
#ageLabel {
	margin-left: 57px;
	text-align: right;
	vertical-align: middle;
}
#timeLabel {
	margin-left: 25px;
	width: 60px;
	vertical-align: middle;
}
#salesLabel {
	width: 120px;
	margin-left: 40px;
	vertical-align: middle;
}
div.register input#email {
	width: 226px
}
div.register input#time {
	width: 135px
}
div.register input.right {
    margin-right: 25px;
}
div.register input.left { 
	margin-left: 0px;
}
div.register label.left {
	float:left !important;
	margin-left:30px;
	display: inline-block;
}

div.register div.row2
{
    width: 100%;
    float:left;
	margin-top: 10px;
    margin-bottom:10px;
}

div.register div.row3
{
    width: 100%;
    float:left;
    margin-bottom:10px;
}
#city {
	width: 140px;
}
#cityLabel {
	width: 60px;
}
#zipLabel {
	width: 50px;
}
div.register div.row4
{
    float:left;
    width: 100%;
    margin-bottom:10px;
}
div.register div.row5
{
    margin-bottom:10px;
    float:left;
    width: 100%;
}
div.register div.row6 {
    float:left;
    width: 100%;
    margin-bottom:10px;
}
div.register div.row7 {
    width: 100%;
	height: 21px;
	margin-top: 10px;
    margin-bottom:10px;
	margin-left: 30px;
	display: inline-block;
}
div.register input.input-large {
	width: 175px;
	float: none;
	margin-left: 10px;
}
div.register input.checkBox {
	width: 20px;
	margin-right: 0;
	vertical-align: middle;
	border: 0;
	float: none;
	display: inline-block;
}
div.register label.bigCheck {
	width: 150px;
}
div.register label{
    color:#444;
    width:98px;
    float: left;
    text-align: left;
}
div.register label.check {
	
}
div.register label.optional{
    float: left;
    text-align: right;
    margin-right: 6px;
    margin-top:2px;
    color: #A3A3A3;
}
div.register label.obinfo{
    float:right;
    padding:3px;
    font-style:italic;
}

div.register input{
    width: 140px;
    color: #505050;
    float: left;
    margin-right: 5px;    
	border: 1px solid #E1E1E1;
    height: 20px;
	font-size: 11pt;
}
div.register input.longer{
    width: 400px;
    color: #505050;
}
div.register input.long{
    width: 247px;
    color: #505050;
}
div.register input.short{
    width: 84px;
    color: #505050;
}
div.register input.medium{
    width: 120px;
    color: #505050;
}
div.register input[type=text]
{
    border: 1px solid #E1E1E1;
    height: 18px;
}

.align label {
	float:left;
	margin-right:10px;
	clear:none;
}
.align input{
/*	float:right !important; */
	margin-left:5px;
}
div.align1  {
	width:100%;
	float:left;
	margin-top: 10px;
}

div.align1 label {
	width:110px;
	text-align:right;
}
div.tablePage{
	background-color:#fff; 
	width: 815px;
	height: 1000px;
	page-break-inside: avoid;
	margin-left: auto;
	margin-right: auto;
}
table.table {
	height: 900px;
	width: 750px;
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
}
td.num {
	width: 20px;
}
td.dir {
	width: 50px;
	height: 25px;
}
td.room {
	width: 50px;
	height: 25px;
}
td.notes {
	width: 570px;
	height: 25px;
}
td input.cell {
	border: 1px solid black;
	width: 100%;
	height: 25px;
}
div.align1 .wide-input {
	width: 30%;
}