.title h3 {
	margin-top: 0;
	margin-bottom: 15px;
}
.float-container {
	overflow: hidden;
}
.btn[type=reset] {
	padding: 4px 8px !important;
	border-color: #bbb;
	margin-left: 5px;
}
#sash_form {
	float: left;
	width: 40%;
	display: inline-block;
	box-sizing: border-box;
}
#sash_form .control-group {
	margin-top: 5px;
}
#sash_form .control-group:last-child {
	margin-top: 15px;
}
#sash_form .control-group > label {
	width: 100px;
	display: inline-block;
	padding-right: 10px;
}
#sash_form .control-group input.numeric {
	width: 60px;
}
#sash_form .control-group .hint {
	padding-left: 10px;
	font-size: 80%;
	color: #999;
}
#sash_form .control-group .btn-radio {
	padding: 3px 10px;
}
#sash_form button.btn[type="submit"] {
	margin-left: 0;
}
#results {
	float: right;
	border: 1px solid #ccc;
	padding: 20px;
	width: 60%;
	display: none;
	box-sizing: border-box;
	vertical-align: top;
	background-color: #fff;
  	border-radius: 4px;
  	position: relative;
}
#results > div {
    padding: 5px 0
}
#results > div:first-child {
	padding-top: 0;
}
#results > div:last-child {
	padding-bottom: 0;
}
#results > div span.key {
    width: 165px;
    display: inline-block;
}
#results > div span.value {
    font-weight: bold;
    color: rgb(29, 110, 160);
}
#results > .close-results {
	position: absolute;
	right: 10px;
	top: 10px;
	display: block;
	cursor: pointer;
}