.gmnoprint img {
    max-width: none; 
}

img[src^="http://maps.gstatic.com/"], /* map view */
img[src^="http://maps.googleapis.com/"] /* street view */
{
    max-width: none;
}

.1 {
	background-color: yellow; 
	border-color: grey;     
	color: grey;
}

.2 {
	background-color: blue; 
	border-color: grey;     
	color: white;
}

.3 {
	background-color: green; 
	border-color: grey;     
	color: white;
}

.fc-header {
	/*width: 1130px;*/
	position: relative;
	z-index: 0;
}

.avatarList {
	display: block;
	margin: auto;
	margin-bottom: 15px;
}

.mapContainer {
	margin-bottom: 20px;
	/*width: 1130px;*/
}

#map_day_container {
	display: none;
}

.maps {
	margin-left: 10px;
	margin-bottom: 10px;
	border: 1px;
	border-style: solid;
	border-color: #999;
	/*border-radius: 8px;*/
	width: 17.9%;
	height: 275px;
	display: inline-block;
	/*
	-webkit-box-shadow: 5px 10px rgba(0,0,0,.2);
		-moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
	box-shadow: 0 5px 10px rgba(0,0,0,.2);
	*/
}
.directions {
	margin-left: 10px;
	margin-bottom: 20px;
	margin-top: 10px;
	width: 17.9%;
	display: inline-block;
}
#directions {
    background-color: #eee;
}
#directions h2 {
	border-bottom: 1px dotted #999;
	padding-bottom: 10px;
}
#directions h3 {
	font-weight: 300;
}
#directions > div {
    line-height: 1.5;
    padding-left: 20px
}

.map_day {
	margin-left: 0px;
	border: 1px;
	border-style: solid;
	border-color: #999;
	border-radius: 8px;
	width: 49%;
	height: 560px;
	float: right;
	position: relative;
	top:-560px;
	left
	z-index: -1;
	display: inline-block;
	-webkit-box-shadow: 5px 10px rgba(0,0,0,.2);
		-moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
	box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.avatarBox {
	width: 65px;
}

.map1, .directions:first_child {
	margin-left: 65px;
}
.directions {
	text-align: center;
}

#WinPin {
	margin-left: 20px;
	margin-right: 5px;
	margin-bottom: 20px;
}

.cool-button {
	height: 35px;
	margin-left: 50px;
	border-radius: 4px;
	min-width: 75px;
}

input.form-control {
	height: 34px;
}

select.form-control {
	height: 30px;
	width: 150px;
	padding: 4px 12px 4px 12px;
}

select#calendarID, select#event_type  {
	margin-bottom: 10px;
	width: 150px;
}

label.control-label {
	width: 90px;
}

textarea#notes {
	resize: none;
}

div.form-group {
	margin-bottom: 0px;
}

input.btnSchedule {
	width: 140px;
}

.map_holder {
	display: inline-block;
	width: 20%;
	padding: 0 5px;
	-webkit-box-sizing: border-box; /* Safari 3.0 - 5.0, Chrome 1 - 9, Android 2.1 - 3.x */
	-moz-box-sizing: border-box;    /* Firefox 1 - 28 */
	box-sizing: border-box; 
	position: relative;
	margin-bottom: 0;
	padding-bottom: 5px;
    padding-top: 5px;
}
.map_holder span.maps {
	width: 100%;
	margin: 0 !important;
	-webkit-box-sizing: border-box; /* Safari 3.0 - 5.0, Chrome 1 - 9, Android 2.1 - 3.x */
	-moz-box-sizing: border-box;    /* Firefox 1 - 28 */
	box-sizing: border-box;
	display: block;
	border: 0;   
}
.map_holder .map_buttons {
	position: absolute;
	bottom: 10px;
	left: 10px;
	z-index: 999;
	display: none;
}
.map_holder:hover .map_buttons {
	display: block;	
}
.map_holder .map_buttons button {
	padding: 2px 5px;
	font-size: 90%;
	border-radius: 0;
	margin-right: 5px;
}
.fc-content thead th:first-child {
	border-top-width: 0;
	border-left-width: 0;
}
.fc-content thead th:not(:first-child) {
    padding: 8px 0;
    border-top-width: 0;
}

div#maps_block {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-top: 1px solid #ddd;
    position: relative;
    left: -1px;
    margin-right: -1px;
}
.map_holder:not(:first-child) {
    border-left: 1px solid #ddd;
}

.add-cust-container {
	margin: 0 !important;
	margin-bottom: 10px !important;
}

.fc-content thead th:first-child {
	position: relative;
}
.showMapsBtn {
	font-size: 85%;
	padding: 3px;
	border-radius: 0;
	border: 0;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	line-height: 20px;
}
.map_holder .map_buttons > ul.dropdown-menu {
	margin-bottom: 3px;
	border-radius: 0;
	width: 120px;
	overflow: hidden;
	min-width: 0;
	padding: 0;
}
.map_holder .map_buttons > ul.dropdown-menu > li > a {
	padding-left: 10px;
	font-size: 90%;
	padding-top: 2px;
    padding-bottom: 2px;
}
.map_holder .map_buttons > ul.dropdown-menu > li > a:hover {
    background-color: #3071a9;
    color: #fff;
}
.map_holder .map_buttons .expandMapBtn i {
	  vertical-align: text-top;
}
body .expanded-map-outer {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0, 0.75);
	z-index: 99;
	text-align: center;
	display: none;
}
body .expanded-map-outer .closeExpandedMapBtn {
	position: absolute;
	border-radius: 0;
	padding: 2px 5px;
	font-size: 90%;
	z-index: 101;
}
body .expanded-map-outer span.maps {
	position: relative;
	margin: auto;
	margin-top: 100px;
	height: 600px;
	width: 600px;
	border-width: 0;
}
form#scheduleformID .mt5 select.form-control {
	width: 90%;
	max-width: 90%;
}
#jobsModal select {
	width: 478px;
}
#jobsModal .row p > b {
	display: inline-block;
	min-width: 55px;
}
.fc-event.fc-select-helper {
    opacity: 0.8 !important;
    z-index: 100 !important;
	color: #000000;
}
button#btnMultiDay {
	float: right;
	margin-right: 15px;
}
input#multiDatePick {
	float: right;
	margin-right: 15px;
	width: 125px;
}
#btnEditJobCal {
	display: none;
}

#myModal input[type=submit]:disabled {
	cursor: not-allowed;
	pointer-events: all !important;
}