.title h3 {
	margin-top: 0;
	margin-bottom: 20px;
}
.title h3 a.add-new-template {
	font-size: 60%;
	font-weight: normal;
	margin-left: 20px;
}
.templates {
    overflow: hidden;
    border: 1px solid #ccc;
}
.items, .selected-item {
    min-height: 650px;
}
.items {
    width: 30%;
    float: left;
}
.items .item {
    padding: 7px 10px;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
    position: relative;
    clear: both;
    float: none;
}
.items .item:hover {
    color: #428bca;
    background-color: #eee;
}
.items .item.selected {
	color: #428bca;
    background-color: #fff;
}
.items .item i.glyphicon {
	color: #428bca;
	font-size: 70%;
	vertical-align: baseline;
	position: absolute;
	top: 12px;
	right: 5px;
	display: none;
}
.items .item.selected i.glyphicon {
	display: block;
}

.selected-item {
    width: 70%;
    float: left;
    background-color: #fff;
    position: relative;
    padding: 15px;
    border-left: 1px solid #ccc;
}
.selected-item.loading:after {
    content: "Loading...";
    color: #888;
    font-style: italic;
    width: 100%;
    text-align: center;
    display: block;
    margin-top: 80px;
}

.selected-item .item-view h2.view-heading {
    margin: 0;
    margin-bottom: 15px;
    padding: 0;
    border-bottom: 1px solid #ddd;
    font-size: 22px;
    padding-bottom:6px;
    position: relative;
}
.selected-item .item-view h2.view-heading > span.small {
    font-size: 50%;
    padding: 0 5px;
    vertical-align: middle;
}
.selected-item .item-view h2.view-heading .top-actions {
    position: absolute;
    right: 0;
    top: 0;
}
.selected-item .item-view h2.view-heading .top-actions > button {
    position: static;
    display: inline-block;
    margin-left: 8px;
}
.selected-item .item-view button.btn-sm {
    margin: 0;
    margin-left: 25px;
    padding: 2px 5px;
    vertical-align: bottom;
    position: absolute;
    right: 0;
}
.selected-item .item-view .subheading {
    padding-bottom: 10px;
    margin-bottom: 5px;
    position: relative;
}
.selected-item .item-view select {
    border: 1px solid #aaa;
    min-width: 150px;
    height: 25px;
    border-radius: 3px;
    margin-left: 5px;
}
.selected-item .item-view ul.floating-list {
    padding: 0;
    margin: 0;
    list-style: none;
    max-width: 500px;
    overflow: hidden;
}
.selected-item .item-view ul.floating-list li {
    float: left;
    width: 47%;
    padding: 5px 7px;
    margin-right: 8px;
    margin-bottom: 8px;
    border-radius: 3px;
    position: relative;
    border: 1px solid #999;
}
.selected-item .item-view ul.floating-list li:hover {
    border: 1px solid #428BCA;
}
.selected-item .item-view [data-can-edit]:hover {
    color: #428BCA;
}
.selected-item .item-view [data-can-edit] > span {
    cursor: pointer;
    min-width: 70%;
    display: inline-block;
    position: relative;
}
.selected-item .item-view [data-can-edit] > span.empty {
    color: #B5B5B5;
}
.selected-item .item-view [data-can-delete] {
    position: relative;
}
.selected-item .item-view [data-can-delete] .delete {
    position: absolute;
    right: 6px;
    padding: 0;
    font-size: 12px;
    height: 100%;
    width: 27px;
    top: 0;
    right: 0;
    background-color: transparent;
    border-width: 0;
    color: #595959;
    display: none;
    cursor: pointer;
}
.selected-item .item-view [data-can-delete] .delete:hover {
    color: #790000;
}
.selected-item .item-view [data-can-delete]:hover .delete {
    display: block;
}

.selected-item .item-view [data-hidden-at-first] {
    display: none;
}

.selected-item .item-view ul.tabular-list {
    padding: 0;
    margin: 0;
    list-style: none;
    overflow: hidden;
    border-top: 1px solid #999;
    width: 100%;
    font-size: 90%;
}
.selected-item .item-view ul.tabular-list li {
    float: none;
    clear: both;
    padding: 5px 7px;
    margin-right: 8px;
    margin-bottom: 8px;
    position: relative;
    border-bottom: 1px solid #999;
    width: 100%;
}
.selected-item .item-view ul.tabular-list li.head {
    background-color: #eee;
    color: #222;
}
.selected-item .item-view ul.tabular-list li > span {
    display: inline-block;
}
.selected-item .item-view ul.tabular-list li > span.p8 { width: 8%; }
.selected-item .item-view ul.tabular-list li > span.p15 { width: 15%; }
.selected-item .item-view ul.tabular-list li > span.p20 { width: 20%; }
.selected-item .item-view ul.tabular-list li > span.p22 { width: 22%; }
.selected-item .item-view ul.tabular-list li > span.p28 { width: 28%; }
.selected-item .item-view ul.tabular-list li > span.p25 { width: 25%; }
.selected-item .item-view ul.tabular-list li > span.p30 { width: 30%; }
.selected-item .item-view ul.tabular-list li > span.p35 { width: 35%; }
.selected-item .item-view ul.tabular-list li > span.p40 { width: 40%; }
.selected-item .item-view ul.tabular-list li > span.p50 { width: 50%; }
.selected-item .item-view ul.tabular-list li > span.p60 { width: 60%; }

.window-service-chooser-container {
    padding-left: 15px;
}

.selected-item .item-view .dnd-view .sources {
    background-color: #eee;
    padding: 8px;
    font-size: 90%;
    margin-top: -10px;
    overflow: hidden;
    padding-bottom: 0;
    margin-bottom: 15px;
    color: #555;
}
.selected-item .item-view .dnd-view .sources > div {
    background-color: #fff;
    float: left;
    padding: 4px 7px;
    border: 1px solid #aaa;
    margin-bottom: 8px;
    margin-right: 8px;
    border-radius: 3px;
    cursor: move;
    width: 25%;
}
.selected-item .item-view .dnd-view .sources > div:hover {
    background-color: #f7f7f7;
}
.selected-item .item-view .dnd-view .targets {
    background-color: #eee;
    padding: 8px;
    font-size: 90%;
    margin-top: -10px;
    overflow: hidden;
    padding-bottom: 0;
    margin-bottom: 15px;
    color: #555;
}
.selected-item .item-view .dnd-view .targets .sub {
    font-size: 90%;
    color: #aaa;
}
.selected-item .item-view .dnd-view .targets > div {
    float: left;
    padding: 4px 7px;
    background-color: #fff;
    border: 1px solid #aaa;
    margin-bottom: 8px;
    margin-right: 8px;
    border-radius: 3px;
    width: 30%;
    height: 140px;
}
.selected-item .item-view .dnd-view .targets > div hr {
    margin: 3px 0;
    margin-bottom: 5px;
}
.selected-item .item-view .dnd-view .targets > div .already-added {
    font-size: 95%;
    color: #888;
}
.selected-item .item-view .dnd-view .targets .semitrans:not(.ui-state-active) {
    opacity: 0.5;
}
