
input[name=avatar] {
	margin-left: 9px;
	margin-right: 9px;
}

#avatarRadio5, #avatarRadio6, #avatarRadio7 {
	margin-left: 8px;
}

td input[name=job_radios], input[type=radio] {
	margin-top: 7px;
}

#source, .form-inline .radio, input[name=lead_source], input[type=radio] {
	margin-bottom: 5px;
}

.form-signin {
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
}
.form-horizontal .form-actions {
	padding-top: 20px;
	padding-left: 143px;
}
.form-signin .form-horizontal .form-actions {
	padding-left: 0;
}
.form-horizontal .avatar label img {
	width: 20px;
}
.form-horizontal .control-group {
	margin-top: 5px;
}
.form-horizontal .control-label {
	min-width: 140px;
	padding-right: 10px;
}
.form-signin .form-horizontal .control-label {
	text-align: left;
	padding-bottom: 5px;
}
.form-horizontal .form-group[for=rememberme] {
  margin-bottom: 0;
}
.form-horizontal .controls {
	display: inline-block;
}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
	background-color: #B3B3B3;
}
label.btn.btn-default.btn-sm.btn-radio {
	padding: 2px 8px;
	box-shadow: none;
}
